[2015-01-06 17:37] bmx269 opened #3 "Namespace Conflict with mrt:googlemaps"
There is a namespace conflict with https://github.com/drewjw81/meteor-googlemaps that prevents both from being loaded in a project, which is bad, since the other project is older, and has been used as a dependency for a lot of other packages.

[2015-01-06 22:21] dburles commented on #3
Not sure what the solution is here. Perhaps if you're needing to use both, fork this package and change GoogleMaps to something else. I'd then suggest pulling the fork into your project by using a git submodule.

[2015-01-06 23:29] bmx269 commented on #3
I was thinking maybe you would be interested combining efforts on that project? An idea.

[2015-01-06 23:34] dburles commented on #3
Not sure, see that project is still under the mrt namespace, so not exactly a highlight package as it stands. The conflicting `GoogleMaps` name is unfortunate, I'm a bit reluctant to change it however since I'm sure that the issue you're encountering isn't probably all that common

[2015-01-06 23:46] bmx269 commented on #3
The repo just got taken over, it was updated 3 days ago

[2015-01-06 23:49] dburles commented on #3
I realise but we must consider that this package has now been established for over a month with a significantly different API.

[2015-01-08 07:42] micahalcorn opened #4 "Initialized callback option?"
I have a need for running a function once the plugin itself has been initialized (as opposed to the initialization of an individual map). I noticed that you are setting the callback param to `_initialize()`, which simply sets the `_loaded` value. Would it make sense to allow for a callback option in `load()` or is there a more obvious way to supplement the callback?

[2015-01-08 08:44] dburles commented on #4
hey @micahalcorn you can do something like this:

[code]

[2015-01-08 08:48] micahalcorn commented on #4
Simple enough, thanks.

[2015-01-08 08:48] #4 closed, assigned to nobody

[2015-01-11 03:15] Streemo opened #5 "GoogleMaps.ready callback run twice upon hot-code push"
In my mapOptions helper, I have a GoogleMaps.ready('myMap', callback) as in the readme.

Within the callback, I have a Tracker.nonreactive wrapping a cursor.observe({added: cb1, remove: cb2}).

Upon hot-code push, the added callback, cb1, is called twice, because two observers were run, because the callback in GoogleMaps.ready was called twice.

GoogleMaps.ready is not called twice upon manual-ref

[2015-01-11 04:04] Streemo commented on #5
I'm a noob, got wrecked by my own source of duplication. problem solved though xdd

[2015-01-11 04:04] #5 closed, assigned to nobody

[2015-01-17 02:06] mattkrick commented on #3
i don't see it as an issue, if you look at the code for the other package it's just a bloated way to paste in a script tag. With this one you get a namespaced map object that you can reference after creation and it lets you avoid a window.onload event which is otherwise necessary so all the tiles load.

[2015-01-25 03:57] #3 closed, assigned to nobody

[2015-01-25 18:43] mattkrick opened #7 "Initial load failing when page accessed direct from url"
This may be an iron router issue, but since I can only reproduce it with google maps, I wanted to pick your brain.

I have a page with a map on it, the result is the same whether the script is loaded onStartup or onBeforeAction in the router.

If I refresh the page, everything is OK.
If I access the page via a link, everything is OK.
If I load the page by typing in the url, only the upper left til

[2015-01-25 22:34] dburles commented on #7
Hey @mattkrick thanks for this, would you mind creating a simple reproduction project I could clone and try out? That would help me a great deal with debugging.

[2015-01-25 23:51] mattkrick commented on #7
Sure thing, unfortunately, it works with simple scenarios. I'm slowly adding more complexity until I can get a failure, but it may take awhile. I'm pretty sure I'm causing a race condition somewhere, just can't pin it down...

[2015-01-25 23:53] dburles commented on #7
Yeah it's interesting as I've encountered something similar but very very rarely

[2015-01-26 01:37] mattkrick commented on #7
All I can conclude is that too many front-loaded resources can sometimes cause a failure.
When I stick a bunch of junk in the lib or add a ton of link imports (polymer elements) , I can increase failure rates to near 100%. When I remove or lazy-load them, I can't get it to fail at all.

Interestingly enough, when I uninstall the google-maps package & instead clone the files into my repo, failure r

[2015-01-26 03:33] dburles commented on #7
Hey thanks for digging into it a bit. I'd like to have a reliable repro setup to investigate a bit more. I'll see if I can reproduce the bug.

[2015-02-03 17:49] biocross opened #9 "Always calls 3.exp API"
The package always seems to calling v3.exp API Version, even though I am passing the 'v' parameter explicity in the GoogleMaps.load() function.

[2015-02-03 22:03] dburles commented on #9
Hey @biocross this was added recently. Make sure you're on the latest version (1.0.6).

[2015-02-04 13:00] #7 closed, assigned to nobody

[2015-02-05 15:26] whothisbeme opened #10 "Add support for StreetViewPanorama"
Hey, it would be awesome if this package supported not only Maps but StreetViewPanoramas as well!

https://developers.google.com/photo-sphere/web/

[2015-02-06 03:01] dburles commented on #10
Done. Just load like so:

[code]

The rest works the same as a normal map.

[2015-02-06 03:01] #10 closed, assigned to nobody

[2015-02-06 10:08] kontur opened #11 "Passing ReactiveVar for center in map options reinitializes the map on variable change"
Hey,

I noticed that it would be really nice to pass in the map center in the options as a reactive value, which would automatically update the map center when changed.

Conversely, when you now do pass in a reactive value, the map actually gets reinitialized whenever the value updates, which seems undesirable.

Any thoughts on this?

[2015-02-06 10:15] dburles commented on #11
Hey @kontur the options are for initialising the map with `new google.maps.Map`. I think what you're looking to do is interact with the API (specifically using `map.setCenter`) within the `GoogleMaps.ready` callback. See the example below:

[code]

Hope that helps

[2015-02-06 11:16] kontur commented on #11
Yes, maybe the right way to update is like that, and that is how I've implemented it where I've used this package.

I guess the issue I am reporting is that when you do use a ReactiveVar in the options' return the map will reinitialize whenever the value changes. On the other hand, that made me think that using a reactive var to update the map options might be the meteor way to do things, so that'

[2015-02-06 11:20] dburles commented on #11
It would make sense to use a reactive value within the returned options if you wished to re-initialise the map with that new value, otherwise the above pattern is definitely the way to go.

[2015-02-06 13:07] kontur commented on #11
Roger that, I'll close the issue. Thanks for the great package :)

[2015-02-06 13:07] #11 closed, assigned to nobody

[2015-02-06 13:08] dburles commented on #11
Thanks

[2015-02-06 20:15] filipeportes opened #12 "Brownser refusing to execute line 72 of dburles_google-maps.js because of Content Security Policy"
browser showing the following message:

Refused to load the script 'https://maps.googleapis.com/maps/api/js?v=3.exp&callback=GoogleMaps._initialize' because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-inline'".

and points to this code:

[code]

[2015-02-06 23:41] dburles commented on #12
Hey @filipeportes is this in production? If so may I check the site? It looks as though the server is sending a content security policy within the response header

[2015-02-10 05:45] FrancoJ opened #13 "Google Places API"
This isn't an issue, but just a question:

I've been using this plugin with the mdg:geolocation plugin, and they work well together. Now just trying to find out all of the options I can use with this plugin by adding extra libraries such as Places like in your example.

Basically i'm just trying to recreate this example and curious if this plugin is capable of this sort of stuff as well?
https://d

[2015-02-10 07:00] dburles commented on #13
Hey @Frankiezzy looks to me like it'll work just fine, you should be able to figure out how to work it in by looking at the example in this package readme.

[2015-02-10 16:57] FrancoJ commented on #13
@dburles thanks for the quick response.

[2015-02-10 16:57] #13 closed, assigned to nobody

[2015-02-10 18:24] lukemadera opened #14 "load alreadyLoaded option"
Great package @dburles - thanks! I'm using other google maps functionality (places autocomplete specifically) and so there's a conflict or "double loading" of google maps currently. I got around this by calling initialize myself:

[code]

But it would better if this was an option that could be passed to `GoogleMaps.load` to skip loading the google maps script if it has already been loaded elsewher

[2015-02-10 23:44] dburles commented on #14
Hey @lukemadera as you probably already know we're loading the maps library asynchronously.  `GoogleMaps._initialize` is called by the maps library itself when it finished loading as we pass it in the [`callback` query param](https://github.com/dburles/meteor-google-maps/blob/master/google-maps.js#L10)

Calling `GoogleMaps._initialize` manually could run into problems as there's no guarantee the _

[2015-02-10 23:50] lukemadera commented on #14
Thanks for the details @dburles . I haven't had a problem thus far with calling `GoogleMaps._initialize` manually but I agree there could be a timing issue there.

And I actually already tried using your package to load google maps but it resulted in a `Google is undefined` error - potentially the same timing issue?

Either way though, I think packages should NOT require auto loading other (3rd pa

[2015-02-10 23:55] dburles commented on #14
I agree. Perhaps I could expose `GoogleMaps.initialize` which can be called just the same (but documented).

Were you looking for `GoogleMaps` or `google` (lowercase) ?

[2015-02-10 23:57] lukemadera commented on #14
Sounds great! Thanks!
And yeah sorry I was just typing from memory - not sure the exact name of the error, just know I got one that had to do with Google Maps not being loaded properly ;)

[2015-02-13 01:06] pmwisdom opened #15 "Problems Loading on Android Browser (Android > 4.2) & Iphone 4"
Hey there, I've been attempting to use this on a whole slew of devices, and have found some combinations that simply will not load the map.

Platforms that I have found not to load :
Android  > 4.4 Cordova WebView and the Default Android Browser. (Chrome works)
iPhone 4 Cordova WebView. (iPhone 4s works).

Unfortunately there is no error I can give you, but I thought you might like to know.

Sorry

[2015-02-13 01:23] dburles commented on #15
Thanks @pmwisdom. I don't have access to those devices to test myself, but any more info you can dig up would be helpful.

[2015-02-13 01:23] dburles commented on #14
Done

[2015-02-13 01:23] #14 closed, assigned to dburles

[2015-02-13 22:43] pmwisdom commented on #15
So I did more tests today, and I couldn't find any errors via adb for your package so I'm about 99% its just a css issue. The only reason I originally didn't think it was css was because it worked on the iPhone 4s and didn't on the 4, which I thought rendered in the exact same way.

[2015-02-13 23:25] lukemadera commented on #14
Awesome thanks @dburles !

[2015-02-17 11:30] huvber opened #16 "How to make map reactive"
I create a map with a list of marker based on collection. I set the icon of each marker based on the property of each item of the collection.

Here is the template

[code]

here is the helper gOptions:

[code]

and here is the function createMarker:

[code]

But I noticed that if i change the state property of my items the maps doesn't update. How can I make it reactive?

[2015-02-17 11:34] dburles commented on #16
Hey @huvber you'll want to use either `observe` or `observeChanges` within the GoogleMaps `ready` callback. See: http://docs.meteor.com/#/full/observe

[2015-02-21 03:18] #16 closed, assigned to nobody

[2015-02-21 03:19] #9 closed, assigned to nobody

[2015-02-21 03:19] #15 closed, assigned to nobody

[2015-02-21 03:19] #12 closed, assigned to nobody

[2015-02-24 17:56] bernatfortet opened #17 "options argument is not an object"
I've copied line by line your example and I get this:

[code]

[2015-02-24 23:33] dburles commented on #17
Hey @bernatfortet make sure that the inclusion tag for the map has the correct data context. The code in the example passes the helper through Template._body_. So if you have placed `{{> googleMap ...}}` within another template, it won't see the options argument.

[2015-02-26 02:56] bernatfortet commented on #17
I'm using the exact same code that is seen on the documentation.
New project as well.

[code]

[code]

[2015-02-26 03:12] dburles commented on #17
Strange, try this demo project https://github.com/dburles/meteor-google-maps-demo

[2015-02-28 18:15] tintoverano opened #18 "adding MarkerWithLabel google package"
hi,

I think adding this Google package would be useful: http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.8/src/markerwithlabel.js

what do you think?

cheers,

tinto

[2015-03-01 00:06] dburles commented on #18
hey @tintoverano you should be able to just drop it into say `client/lib` and start using it

[2015-03-01 07:37] tintoverano commented on #18
I tried that and loading it via iron router as well, and perhaps I'm doing something wrong, but there's an error saying that this package doesn't find "google", though it should be there since your package loads it, I suspect it might be a load order problem

thanks,

tinto

[2015-03-01 21:16] shkomg opened #19 "map not showing up"
Hi,

it's partially working - i got geocomplete, but no map and marker (however I see that map div changes in html from empty div). May you pls help?

UPDATE: fixed, below it the working code (not neat):

router.js

[code]

template.js

[code]

html.html

[code]

[2015-03-03 02:01] dburles commented on #19
Try something like:

[code]

[2015-03-03 02:02] dburles commented on #18
In that case you might wish to drop in the script tag once `GoogleMaps.loaded()` fires

[2015-03-03 02:03] dburles commented on #19
On second read, I don't see any code for actually displaying the map. Have a look at the docs and it may help to try the demo app.

[2015-03-03 06:42] tintoverano commented on #18
I see, ok I'll try that

thanks

[2015-03-03 10:53] shkomg commented on #19
Thank you @dburles you've pointed me into the right way. Will change the code in the issue to the right one & close it.

[2015-03-03 11:00] #19 closed, assigned to nobody

[2015-03-06 20:14] tintoverano commented on #18
I'm closing this because I stayed with a simpler solution for the moment.

thanks

[2015-03-06 20:14] #18 closed, assigned to nobody

[2015-03-06 20:31] tintoverano opened #20 "in Firefox the map is refreshing in every 5 secs on its own"
hi,

tested my app http://hvg.meteor.com in Chrome and Firefox on Windows and Ubuntu and:
- for Firefox the map part of the page auto-refreshes for some reason
- same symptom for Chrome, but on Android (5)

update: it is actually a recenter + refresh

looked at samples from Google which work fine on each platform: https://developers.google.com/maps/documentation/javascript/examples/marker-remove

[2015-03-06 22:27] tintoverano commented on #20
fixed

I'm calling the reactive mdg:geolocation function to get current location inside the map options helper and setting the center to it

though Geolocation should only fire when the location changes, it does fire in Firefox regardless of location change in every 5 seconds

so checking the new location with the saved one helps eliminating centering the map again

[2015-03-06 22:27] #20 closed, assigned to nobody

[2015-03-07 20:35] jennylia opened #21 "How to destroy a newly added Marker"
Hi David,

I added a marker like this:
    var lon = JSON.parse(results.content).coord.lon
        var lat = JSON.parse(results.content).coord.lat
        Session.set('lon', lon);
        Session.set('lat', lat);

[code]

I can't destroy this marker when my lat lon has been updated.
Please give me a hint.

Thanks,
Jenny

[2015-03-08 01:06] dburles commented on #21
There's a map's API call you can use to destroy a marker by passing in the marker instance.

[2015-03-08 21:04] tintoverano commented on #17
hello guys,

I'm getting this error in Chrome: only when switching to another tab and back to my tab with the map, there's no error after starting the app

but in Firefox the error is appearing at first load and then repeats

so far I didn't see any bad behavior in my app, it works as expected

tinto

[2015-03-08 23:49] dburles commented on #17
@tintoverano I can't reproduce the issue on Chrome, are you able to reproduce using [the demo app?](https://github.com/dburles/meteor-google-maps-demo)

[2015-03-09 21:36] tintoverano commented on #17
demo app works fine

in my case the problem seems to be related to calling Geolocation.latLng () from mdg:geolocation package inside the map options helper

I'm trying to refactor my code to get around this somehow

[2015-03-10 06:08] dburles commented on #17
At a guess you would probably want to call that method reactively in an autorun based on `GoogleMaps.loaded()`

[2015-03-10 07:04] tintoverano commented on #17
the function itself is reactive, so it is not necessary I think
I managed to refactor the code, it works in chrome but not yet fully in ff : )

[2015-03-10 07:04] dburles commented on #17
well even so, you wouldn't want to call it before the maps API has loaded!

[2015-03-10 07:06] tintoverano commented on #17
sure thing, thanks

[2015-03-10 07:07] dburles commented on #17
Hey @bernatfortet did the demo project work? If not, what browser are you using?

[2015-03-10 15:43] bernatfortet commented on #17
@dburles it works... I'll try to figure out what's changing. Thanks for you help!

[2015-03-10 16:43] tintoverano commented on #21
simply call

[code]

[2015-03-10 16:47] tintoverano opened #22 "using the map in a template instead of body"
hi,

to better integrate the map view with iron router I tried to use it in a template, but without luck

do you have suggestions how to use the map in a multi page setup?

cheers,

tinto

[2015-03-10 22:55] dburles commented on #22
Just replace the body template in the example with the name of the containing template and you're all set.

[2015-03-11 09:16] tintoverano commented on #22
my bad, I messed up the routes, it works fine

thanks!

[2015-03-11 09:16] #22 closed, assigned to nobody

[2015-03-11 09:52] #21 closed, assigned to nobody

[2015-03-12 19:10] barhum opened #23 "Is there a way to insert the map to a div without using > googleMap"
I am having an issue with reactivity while using the map, is this happening because it is a helper method?

I have read that many people resorted to loading the google map api like this:

[code]

I got my main map to stop being reactive using this method but this does not play nice with iron-router.  The script persists on memory for redirects and if I am using > googleMap on other routes I get a

[2015-03-12 20:27] livvyjeffs opened #24 "Any way to add Circles?"
This is the code I tried based on the <a href="https://developers.google.com/maps/documentation/javascript/examples/circle-simple">Google Maps API example</a>:

 `var circleOptions = {
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: new google.maps.LatLng(Session.get('latitude'), Sessi

[2015-03-13 00:52] dburles commented on #24
`map` needs to be a map instance.

[code]

[2015-03-13 00:54] dburles commented on #23
Hey @barhum not exactly sure what problem you're describing, the map is loaded by the package just like the code you have pasted https://github.com/dburles/meteor-google-maps/blob/master/google-maps.js#L5-L12

So there's no need to write that code yourself, all you need do is call `GoogleMaps.load()` and it will ensure that the script loads (only once).

[2015-03-13 07:56] livvyjeffs commented on #24
Awesome, trick is to use `map.instance` thank you!

In my code I was also missing an end paren, so the code that works is:

`map: map.instance,`
`center: new google.maps.LatLng(Session.get('latitude'), Session.get('longitude'))`

[2015-03-13 08:07] #24 closed, assigned to nobody

[2015-03-16 22:07] barhum commented on #23
Thanks for the quick reply,

I tried adding GoogleMaps.load() to for my template in iron-router and it does load the google api in sources.  I am trying to insert the map from Template.foo.rendered but calling google.maps from rendered gives back undefined.

I am trying to add it in the rendered portion to limit reactivity.

[2015-03-16 22:46] dburles commented on #23
take a look at the examples, you want to be sure that the library is loaded before you reference `google.maps`. In order to do that you need to watch `GoogleMaps.loaded()` which is a reactive method, so place that inside a reactive computation, (autorun or template helper etc)

[2015-03-16 22:47] dburles commented on #23
also take a look at the demo project https://github.com/dburles/meteor-google-maps-demo

[2015-03-16 23:17] barhum commented on #23
Thanks @dburles , using Deps.autorun in rendered made it work!

[2015-03-16 23:17] #23 closed, assigned to nobody

[2015-03-16 23:24] dburles commented on #23
I have a feeling that you're likely simply wanting to do what's described in the examples, specifically the `ready` callback, so do take a look at that.

[2015-03-18 02:05] JayMc opened #27 "on mobile: https://maps.googleapis.com/.... 404 Not found"
With your example it works fine on desktop chrome but run as either virtual or physical Android apps I get: 404 Not found. For this url:

https://maps.googleapis.com/maps/api/js?v=3.exp&callback=GoogleMaps.initialize

If I manually load that address in a mobile browser it opens without a problem.
Using Meteor 1.0.4

[2015-03-18 03:05] dburles commented on #27
That's unusual, would appreciate it if you can look into it further

[2015-03-18 03:38] JayMc commented on #27
Still looking, but doesn't appear to be your library.
Seems to be an issue with loading external libraries when on mobile device. If I manually add the head script tag for the google maps and lodash I get the same outcome (lodash = 404):

[code]

Above loads in libs for desktop but not mobile. Is there something different on mobile preventing loading libraries?

[2015-03-18 03:40] dburles commented on #27
Not sure, maybe it's a platform restriction with external assets? Android development is not something I'm too familiar with.

[2015-03-18 04:18] JayMc commented on #27
We got it, woot!

[code]

was removed from config.xml in Meteor version 1.0.4 [see here](http://docs.meteor.com/#/full/App-accessRule)

To add a more appropriate rule create a file in the parent level called mobile-config.js and add the following for you map library to work:

[code]

[2015-03-18 04:29] dburles commented on #27
Oh good find, I actually think now that these two issues are related: https://github.com/dburles/meteor-google-maps/issues/15 https://github.com/dburles/meteor-google-maps/issues/12

[2015-03-18 16:19] JVercout commented on #12
Hi,

I'm using the browser-policy meteor package.

I've got the same error here:

[code]

I've got the following configuration files in Meteor.startup():

[code]

but to make it works, I need to add a (and _I don't want to_)

[code]

Any ideas?

Jerome

[2015-03-23 06:20] clarknelson opened #28 "events?"
Is there any support for event callbacks like "addListener" and "addDomListener"? Is there support for the whole v3 API or just basic functionality?

[2015-03-23 07:12] dburles commented on #28
Once you've loaded the library you have full access to the maps object. So I would guess so!

[2015-03-27 06:36] kodamirmo commented on #28
@dburles I assumed that once the library is loaded you can do this:

[code]

but, doesn't work for me, I did a pull request, where you can do this:

[code]

[2015-03-27 07:37] dburles commented on #28
You're wanting to attach it to `map.instance` :)

[2015-03-27 07:39] dburles commented on #28
See here in the docs: https://github.com/dburles/meteor-google-maps#googlemapsreadyname-callback

[2015-03-27 07:41] kodamirmo commented on #28
You are right, my error was another variable call map in the same scope :(

[2015-03-27 07:43] dburles commented on #28
Oh, no problem

[2015-03-27 09:30] nkoren opened #30 "Template tag not allowed"
I have copied the demo code into my application, and now it can no longer build. Here is the error it generates:

[code]

[2015-03-27 09:34] nkoren commented on #30
Never mind! Linter fail. No issue.

[2015-03-27 09:34] #30 closed, assigned to nobody

[2015-03-27 09:36] #27 closed, assigned to nobody

[2015-03-27 09:37] #17 closed, assigned to nobody

[2015-03-27 09:37] #28 closed, assigned to nobody

[2015-03-31 20:34] boboci9 commented on #27
Hi,

Can you tell me where should this config.js file be added if you are using the maps in a package?
I get Uncaught ReferenceError: App is not defined both on client and on server side.

Thanks.

[2015-04-01 22:35] dburles commented on #27
@boboci9 have a look here http://docs.meteor.com/#/full/mobileconfigjs

[2015-04-02 12:14] boboci9 commented on #27
Sorry I didn't know this was only for mobile apps, I am trying to find out why this package is not working in my project but it is a regular app in my case, and I have this same error.
I think I will repost the question in a new issue in this case, I thought it could be the same solution.

Thanks.

[2015-04-02 12:16] dburles commented on #27
@boboci9 see if you can run the demo app https://github.com/dburles/meteor-google-maps-demo it may help with any problem you may have in your own app

[2015-04-02 15:29] ralphievolt opened #31 "Multiple Marker on the same Map."
How do I add multiple Marker on the same map? Your example only shows that the helper is return a single location.

My application will get the present location of the user which I am able to do so using the geolocation and the only problem is how to show on the map other marker based on my collection.

[2015-04-02 18:15] pmwisdom opened #32 "Maps ready not firing on app to foreground with cordova"
As per example I set up my code, if the map renders, the first time the marker will be created. Then if you push the app into the background, and then launch back into the foreground, the map will refresh without creating the marker. Essentially, the ready call in the onCreated never gets called again. So the map refreshes without any of the ready information.

To get around this, I've put my read

[2015-04-02 21:05] boboci9 opened #33 "Console error and maps are not loading"
Hi,

Hi I have tried the example from the following link http://meteorcapture.com/how-to-create-a-reactive-google-map/, and I also tried the demo package but I still get the follwoing error:

Refused to load the script 'https://maps.googleapis.com/maps/api/js?v=3.exp&callback=GoogleMaps.initialize' because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-inli

[2015-04-02 21:31] pmwisdom commented on #31
[code]

If you run this in a loop or in succession you will get that many markers on the map. Every time you call new google.maps.Marker a new marker will be created for the map, as long as your map option is the same each time.

If you were going to do geolocation....

[code]

[2015-04-02 22:07] dburles commented on #32
Hey @pmwisdom interesting bug there, what device (or devices?) are you seeing the bug on? I wouldn't have expected `onCreated` to not fire.

[2015-04-02 22:09] dburles commented on #33
Hey @boboci9 do you see this error locally or in production?

[2015-04-02 22:10] dburles commented on #31
@ralphievolt this may also help http://meteorcapture.com/how-to-create-a-reactive-google-map/

[2015-04-02 22:15] pmwisdom commented on #32
Devices that I test on are iPhone 4s, 5, 6, for apple, and I have a nexus 5 for android. All of them see that same issue. When you enter the app from the background ( app still running in background) and with the map previously rendered to the foreground, you can see the map flash quickly, and re render, like the helper is re-firing, but not the ready function. I tried putting the ready function i

[2015-04-02 22:17] dburles commented on #32
Can you confirm this same bug happens on the [demo app](https://github.com/dburles/meteor-google-maps-demo)?

[2015-04-02 22:19] dburles commented on #32
I realise it's basically the same code that you've pasted above, though your `mapOptions` helper is missing the check on `GoogleMaps.loaded()`

[2015-04-02 22:20] pmwisdom commented on #32
Oops yeah, I did miss that, got it in the real code though.

[2015-04-02 22:20] pmwisdom commented on #32
@dburles  I'll load that up on a phone when I get the chance and report back.

[2015-04-02 22:22] dburles commented on #32
That'd be great, if it's no good, I'll take a look into it.

[2015-04-03 07:31] boboci9 commented on #33
Hi @dburles I see it locally.

[2015-04-03 12:42] ralphievolt commented on #31
Thanks guys..I'll try these inputs.

[2015-04-03 12:51] #31 closed, assigned to nobody

[2015-04-03 22:45] pmwisdom commented on #32
Hey, looks like this was again another issue with my own setup. If you want to know the issue, I was returning a cursor.findOne in my routes data (which I used in the corresponding template), which caused the route to hit every time the object changed, which I normally wouldnt notice, aside from the map reloading. Feel like thats pretty weird behavior of iron router. To solve I just made a helper

[2015-04-03 22:48] pmwisdom commented on #32
Btw if you want your demo example to work out of the box with cordova, create a mobile-config.js file at the root and put

[code]

In it. Cheers!

[2015-04-03 23:29] dburles commented on #32
Thanks, I'll put that in the docs as I've seen many people run into confusion with that.

[2015-04-03 23:29] #32 closed, assigned to nobody

[2015-04-04 00:57] dburles commented on #33
Are you using the `browser-policy` package by any chance? https://atmospherejs.com/meteor/browser-policy

[2015-04-07 09:33] boboci9 commented on #33
Hi, I managed to fix it I needed a forth setting for ajax as well
        BrowserPolicy.content.allowOriginForAll('fonts.gstatic.com');
    BrowserPolicy.content.allowOriginForAll('*.googleapis.com');
    BrowserPolicy.content.allowOriginForAll('maps.gstatic.com');
    BrowserPolicy.content.allowEval('https://ajax.googleapis.com');  // it's not working without this line
Thank you for your help!!!

[2015-04-07 17:54] lusilva opened #34 "map continually refreshes in firefox and cordova"
Hello,

I'm creating a cordova app and have your map on one of the pages, but every time I go to the page the map continually refreshes. This also happens in firefox. I'm using the meteor-ionic framework, not sure if this could be the cause.

I'm passing in the options like so:

[code]

and in my view:

[code]

Any idea what could be causing this? I'm not using any reactiveVars in the options, so

[2015-04-08 00:14] dburles commented on #34
Hey @lusilva hard to say exactly what might be the cause. Are you able to reproduce the bug in a new app that contains only the bare minimum code required to display the map?

[2015-04-09 23:31] lusilva commented on #34
Just did a major refractoring and the problem doesn't seem to appear anymore, not sure what was causing it originally.

[2015-04-09 23:31] #34 closed, assigned to nobody

[2015-04-12 07:53] ganySA opened #35 "Initialise with hidden map"
Hi

Firstly thanks a lot for such a great library really makes working with maps a breeze.

I have a question regarding usage when i would like to start off with the map hidden... display:none on the container div. it seems that later on the map behaves strangely.

Is there a way to re-init the blaze component wrapper after i make display:block?

[2015-04-12 08:09] dburles commented on #35
Hey thanks @ganySA. You can just do this:

[code]

[2015-04-12 09:47] ganySA commented on #35
Great thanks! Works perfectly.

[2015-04-12 09:47] #35 closed, assigned to nobody

[2015-04-12 12:53] ganySA commented on #35
It seems that the googleMaps ready function doesnt fire if i use the #if statements - any idea where i should place this?

[code]

[2015-04-12 13:01] dburles commented on #35
Oh, try place the map inside a containing template with which to attach to the onCreated callback like:

[code]

[code]

[code]

[2015-04-12 17:33] ganySA commented on #35
Thanks that did it!

[2015-04-13 01:42] dandv commented on #33
@dburles: would be good to make a note re. `browser-policy` in the README?

[2015-04-13 02:50] dburles commented on #33
@dandv I'd like to, I just wasn't sure if the urls above were officially dictated by Google, @boboci9 ?

[2015-04-13 08:47] boboci9 commented on #33
I'm not sure, I just read through posts/issues related to this error and combined some of the solutions.
https://github.com/dburles/meteor-google-maps/issues/12
https://github.com/dburles/meteor-google-maps/issues/27
These were similar issues, important to have ajax line there, it's not working without it.

[2015-04-13 16:03] dandv opened #36 "Option to specify API server"
Useful for odd locales. Haven't looked into others except China, but due to China's isolationist policies, a special server must be used - https://developers.google.com/maps/faq#china_ws_access (along with care to convert from GCJ-02 to WGS-84, but that's beyond the scope of this package; more at http://en.wikipedia.org/wiki/Restrictions_on_geographic_data_in_China).

So just an option to point to

[2015-04-17 14:44] huntonas opened #37 "Marker not loading on direct url call"
I have a site that has one large map with multiple markers. The main page loads fine, but each marker has its own page that has a map on it. When going to the page directly from the marker, the map loads fine and the marker is there. When I go directly to the individual marker page by typing in the url, the map loads fine, but the marker does not appear. I did figure out that if I zoom in/out on t

[2015-04-17 16:03] huntonas commented on #37
I got this working. I have the GoogleMaps.ready() in the onCreated. I have 2 seperate GoogleMaps.ready() functions. The first one adds the marker, and the second does map.instance.setZoom(num). The setZoom refreshed the map, and the marker shows up. Not sure if this is a clean fix or not, but it works for me (and makes the map look animated by the zoom changing in on the marker). I could not get t

[2015-04-18 02:09] dburles commented on #37
hey @huntonas if you have a simple reproduction of the issue I can clone to try out I'm happy to take a look

[2015-04-20 14:05] huntonas commented on #37
@dburles sorry for the late response. I can put together a sample app if you would like, but I got this working so it is a problem for me anymore. Let me know, and I will try to put together a demo of my issue.

[2015-04-22 14:19] john916zhang opened #38 "map keeps blinking"
Hi all,

I was happy to find this package. But when I used it, I noticed that google maps keeps blinking. I thought it's because 'exampleMapOptions' is in the 'helpers' section. So there is a Tracker.autorun session related to it. It keeps the map blinking.

Any idea?

[2015-04-22 22:51] dburles commented on #38
Hey can you possibly provide an example project that demonstrates this bug for me to test?

[2015-04-27 02:52] theroadrunnershow opened #39 "Issue when using this along with autoform"
Hi there, this package is awesome. This question is not related to this package, but more of why this does not work with yogiben:autoform-map. I was using the yogiben:autoform-map for my input form to make it easy. The form was working until I added dburles:meteor-google-maps. After I added this package, I got a TypeError.

Please check this link for details :
http://stackoverflow.com/questions/29

[2015-04-27 11:20] lk1234 commented on #38
Your map is great, but I'm having the same problem when running it on a device (run ios-device). It constantly "blinks" which I assume is a refresh. The code below replicates the problem. Note, I'm also using the mdg:geolocation package. Any help in figuring this out would be appreciated:
JS
if (Meteor.isClient) {
Meteor.startup(function() {
      GoogleMaps.load();
    });
    Template.map.helper

[2015-04-28 00:18] dburles commented on #38
@lk1234 I believe you're looking for:

[code]

[2015-04-28 00:37] dburles commented on #38
You need to be wary of any reactive values passed into your map options as they will of course cause the map to reinitialize.

[2015-04-28 00:42] dburles commented on #39
Hey @theroadrunnershow the answer as you are probably now aware is there's an unfortunate conflict with the `GoogleMaps` namespace.

[2015-04-28 00:57] theroadrunnershow commented on #39
@dburles
Is there a recommended way to get around the conflict? Or am I limited to using only one of the packages for now in my app? The thing is that your package is very nice for viewing places which have already been marked.
But yogiben's package allows me to create markers very easily (with almost no new code). Thats the reason I opted to choose both.
I am hoping there is a workaround?

[2015-04-28 01:50] dburles commented on #39
It might be a nice idea for @yogiben to update his autoform map package to perhaps use this package instead of `mrt:googlemaps`. There's no way to work around the conflict unfortunately as the mrt:googlemaps package doesn't correctly export `GoogleMaps`

[2015-04-28 13:44] lk1234 commented on #38
Thanks for getting back so quickly. Unfortunately that solution doesn't solve the issue. Still trying to figure it out. I'm working on it, but if you have any ideas...

[2015-04-28 13:45] dburles commented on #38
I would recommend placing `Geolocation.latLng();` outside of the helper. Put it in the `GoogleMaps.ready` callback instead and use `map.instance.setCenter()`

[2015-04-30 04:20] theroadrunnershow opened #40 "How to load google maps places script?"
HI @dburles
I am trying to implement this:
https://developers.google.com/maps/documentation/javascript/examples/places-searchbox

I am unable to find a way to load this script. I get this error: TypeError: Cannot read property 'SearchBox' of undefined

I tried to load this script in multiple ways:
1.http://www.manuel-schoebel.com/blog/use-meteor-iron-router-waiton-to-load-external-javascript
2. me

[2015-04-30 04:54] dburles commented on #40
Hi @theroadrunnershow just load the map like so: `GoogleMaps.load({ libraries: 'places' });`

[2015-04-30 04:55] dburles commented on #40
See here: https://github.com/dburles/meteor-google-maps#googlemapsloadoptions

[2015-04-30 04:59] theroadrunnershow commented on #40
Ah my bad, should have read in detail! Thanks for the help!

[2015-04-30 05:06] dburles commented on #40
No prob

[2015-04-30 05:06] #40 closed, assigned to nobody

[2015-04-30 16:52] mhurwi commented on #38
I think I've encountered this same issue.  Been trying to figure it out, with no success, so I made a tiny sample app to reproduce the problem:

https://github.com/mhurwi/meteor-maps-troubleshooting

Running the app, one map works fine, another reproduces this 'blinking' issue

[2015-04-30 21:43] mhurwi commented on #38
FYI, figured out, this is an issue with iron-router 'data' being reactive.

[code]

https://github.com/mhurwi/meteor-maps-troubleshooting/blob/master/map-troubleshooting.js#L75

Removing 'data' from the route eliminates the blinking.

[2015-05-01 01:16] dburles commented on #38
hey @mhurwi thanks for the recreation, I've noticed this is catching a few people out and I'm questioning now whether the options should really be passed via a helper (since they're reactive). I'll have a look into it and get back to you.

[2015-05-01 05:55] dburles commented on #38
Thanks for the bug report, the issue should be fixed with `1.0.9`. Please let me know if the issue is fixed at your end.

[2015-05-01 07:11] kevohagan opened #41 "passing a cursor in options"
Enhancement:

What are your thoughts on passing in a cursor in options on template initialization, something similar to

https://github.com/meteor/mobile-packages/blob/master/examples/solomo/packages/google-maps/maps.js#L53

I think it could be useful!

[2015-05-01 08:34] dburles commented on #41
Hey @kevohagan sounds like a great idea for an addon package :)

[2015-05-01 09:52] kevohagan commented on #41
Challenge accepted!

On Fri, May 1, 2015 at 10:34 AM David Burles notifications@github.com
wrote:

[2015-05-01 13:28] lk1234 commented on #38
@dburles, thanks for rethinking this. (maybe it's nothing more than further explanation in the documentation). I'm still trying to get my map to work...

[2015-05-01 13:34] dburles commented on #38
@lk1234 place reactive functions outside of the map initialization options.  Something like:

[code]

[2015-05-01 23:29] misteral opened #42 "I can not see map at mobile device, but on web work well."
I try to use
meteor run android-device
internet connection is present.

http://my_visit_app.meteor.com/
https://github.com/misteral/my_visit_app

Please help.

[2015-05-02 03:31] dburles commented on #42
Hey @misteral my guess is that you need to configure some access rules. See here: https://github.com/dburles/meteor-google-maps#mobile-platforms

[2015-05-02 05:18] misteral commented on #42
@dburles, David, the very usefull answer. Sorry create my app at 5am.

[2015-05-02 05:18] #42 closed, assigned to nobody

[2015-05-02 22:41] lk1234 commented on #38
@dburles, Map fixed. Thank you so much...Used your suggestion above with a Tracker.autorun and it works great. Really appreciate your help and excellent documentation.

[2015-05-07 03:34] #38 closed, assigned to nobody

[2015-05-07 03:34] #37 closed, assigned to nobody

[2015-05-10 02:46] josephdburdick opened #43 "How would you integrate label or infowindow?"
As I understand it these features require additional js files to be accessible. How does one add a label or infowindow with this package?

[2015-05-10 18:20] rubs commented on #43
Struggling at this right now,  and with this code:

Iron Router's config for the map:

[code]

Template helpers, etc...

[code]

The very first time the template is rendered works fine, but from the second time on I'm getting this "Cannot read property 'get' of undefined"...

[2015-05-10 23:34] josephdburdick commented on #43
@rubs this is actually working for me:

[code]

@rubs  Are you sure your map exists on the template that is being referenced at the top of your routes.js file?

@dburles While I've figured out how to add a normal Google Maps label and Infowindow my question still stands about adding additional JS files on top such as this: http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlab

[2015-05-11 02:25] dburles commented on #43
@josephdburdick something like:

[code]

Place `markerwithlabel.js` in your `public` directory.

[2015-05-11 02:27] dburles commented on #43
@rubs I think the problem you're having there is that you should pass `map.instance` into `infowin.open`.

[2015-05-11 09:05] rubs commented on #43
@josephdburdick , @dburles thanks guys, adding `<map.instance>` to the infoWindow worked!.

[2015-05-11 19:19] josephdburdick commented on #43
Ok, great– glad it worked out @rubs. Thanks for the pointer @dburles, I'll close this issue for now. If I encounter issue an issue with the document.body.appendChild method I'll reopen. :hand:

[2015-05-11 19:19] #43 closed, assigned to nobody

[2015-05-14 15:31] rahultank1993 opened #44 "ReferenceError: google is not defined and InfoBox is not defined"
I want use infobox https://code.google.com/p/google-maps-utility-library-v3/source/browse/trunk/infobox/src/infobox.js?r=49 in my project

i also put infobox.js file in client/lib/js/infobox.js

it given error
my code is

var myOptions = {
            disableAutoPan: true
            ,content: $("#imgR").html()
            ,isHidden: false
            ,boxStyle: {
                textAlign: "cente

[2015-05-16 02:20] dburles commented on #44
Hey I've just added a new method `loadUtilityLibrary` https://github.com/dburles/meteor-google-maps#googlemapsloadutilitylibrarypathtolibraryjs which may fix this issue.

[2015-05-16 06:50] rahultank1993 commented on #44
thank you so much, it is work for me

[2015-05-16 06:50] #44 closed, assigned to nobody

[2015-05-20 14:57] boboci9 commented on #33
Hi, my google maps are not working again, they were fine until recently. Now I am seeing this error again:

[code]

I have

[code]

I tried adding `BrowserPolicy.content.allowOriginForAll('http://csi.gstatic.com/csi');` but the error is still there, does anyone know what else can be added? My map is not showing, it's only a grey box.

Thanks.

[2015-05-20 23:49] dburles commented on #33
Hey @boboci9 try these:

[code]

[2015-05-21 19:40] kabalin commented on #39
It seems this issue can be closed: https://github.com/yogiben/meteor-autoform-map/commit/3de87cabd356774ee7ae2186b14c32b3673b5f66

Great package, thanks!

[2015-05-22 03:27] dburles commented on #39
Great, thanks @kabalin !

[2015-05-22 03:27] #39 closed, assigned to nobody

[2015-06-03 03:30] dburles commented on #33
@boboci9 did they solve the issue?

[2015-06-05 00:07] jpmolinamatute opened #45 "how do I use my own API key?"
Hello David,

first of all, this is a great package, thank you very much for coding it :+1:

I have my own API key and I would like to use it, how can I do that?

thanks once again :-)

[2015-06-05 00:12] dburles commented on #45
hey thanks @jpmolinamatute just pass it into the `load` method like so: `GoogleMaps.load({ key: '12345' });`

[2015-06-07 17:12] josephdburdick opened #46 "using mapStyles shows the default map style at first"
Hi @dburles, I have the following code in my map's template js file:

[code]

Check out the 3rd line of code there where I set the map styles before the map element element is supposed to be rendered. What happens is that the template loads with your Google Maps plugins loaded but the styles are set to the default Google Maps' colors before refreshing with the right styles. Any possibility we can

[2015-06-08 02:52] dburles commented on #46
Hey @josephdburdick you should be able to pass in the styles directly to the map options helper.

[2015-06-08 04:48] josephdburdick commented on #46
@dburles dude... that is sooo much better. Way faster now. :fist: Thanks!

[2015-06-08 04:48] #46 closed, assigned to nobody

[2015-06-15 15:22] teknologist opened #47 "Stupid question map container height at 80% of display height"
I have been struggling to set a height for the container div dynamically so it takes 80% of the total height.

How would you do this?

Have been googling around but found nothing that works with meteor so far.

Any advice ?

Many thanks in advance!

[2015-06-15 15:53] teknologist commented on #47
FYI,

I have trying setting height via $() at 'rendered' and 'created' template events but it doesn't work.

[2015-06-15 17:45] josephdburdick commented on #47
If you want the map to be 80% of the viewport height you can use vh (viewport height) units.

For example:

[code]

[2015-06-24 13:06] alexofob opened #48 "Reactive display of Map using googleMap template"
Hi there,

I would like to implement a functionality to show users a map of a city that they have already added to their profile when they log in. And then give them the option to update their address using the map.

Basically, I want to use the geocoding functionality to achieve the functionality. However my concern is whether I can still use the googleMap template to display after getting the la

[2015-06-25 00:22] dburles commented on #48
Hey @alexofob I wrote up an example of a way to do this in the [gitter chat](https://gitter.im/dburles/meteor-google-maps?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge). I'll paste it here.

Wrap the `{{> googleMap ...}}` call within an `{{#if ...}}` helper that returns `true` once any reactive sources required in the init options return something.

[code]

[code]

that

[2015-06-26 20:27] josephdburdick opened #49 "How to handle reactive marker clustering?"
Hi, how would one handle reactive map marker clustering? https://developers.google.com/maps/articles/toomanymarkers

[2015-06-29 03:33] #45 closed, assigned to nobody

[2015-06-29 03:33] #47 closed, assigned to nobody

[2015-06-30 17:15] williamledoux opened #50 "How to properly render a template inside an google.maps.InfoWindow"
Do you know how it could be possible to properly render a template inside an InfoWindow?
I can not use `Blaze.toHTMLWithData` to set the content of the InfoWindow, first because I want the events to trigger and also the InfoWindow content to be reactive.

[2015-06-30 20:07] JulianSamarjiev opened #51 "Using geolocation the the package"
This issue I am having: http://stackoverflow.com/questions/31192327/current-position-on-map-meteor
I have been stuck on this for 3 days, any ideas how I should tackle this? @dburles

[2015-07-02 20:44] clarkritchie commented on #50
I think that's a limitation of Blaze since `toHTMLWithData` does not provide a reactive data context.   Maybe you can do it with data in the Session var?

Anyhow, I am doing this manually -- recreating the infoWindow manually from a template when the document changes, basically in my observer:

[code]

You may need to `google.maps.event.clearInstanceListeners(...)` before you call `addListener` on

[2015-07-02 21:11] clarkritchie opened #52 "Placemarks sometimes go invisible"
Any thoughts on why my markers might randomly disappear (or at least become invisible) after refitting the map?

I am following the pattern in the [tutorial](http://meteorcapture.com/how-to-create-a-reactive-google-map/), i.e. I have a `markers`
In [this video demonstration](http://screencast.com/t/DmPVRetWhk) I am calling `setBounds` after the click event on the select -- that zooms in on the sel

[2015-07-02 21:19] clarkritchie opened #53 "Markers sometimes become invisible (until zoom)"
Any thoughts on why my markers might sometimes disappear (or become invisible) after refitting the map?

I am following the pattern in [the tutorial](http://meteorcapture.com/how-to-create-a-reactive-google-map/), i.e. I have a `markers` object to keep track of my markers.

In [this video](http://screencast.com/t/DmPVRetWhk) the click event on the select zooms in on the selected marker(s) by calli

[2015-07-02 22:09] clarkritchie commented on #53
Hmm, messing around with `mapOptions`.

I was using

[code]

Changing `maxZoom: 15` I'm not seeing this behavior anymore.

[2015-07-02 22:09] #53 closed, assigned to nobody

[2015-07-03 11:58] damienrobson opened #54 "Cached view"
I'm loading the package via IronRouter as instructed in the readme, which is working great. However, if I switch to a different page that also uses Maps, the map loads but does not re-centre on the new location I'm providing it with.

Is it better to unload the maps (if so, how do I do this?) when I leave the first page? Or can I force it to relocate if the page is changed?

[2015-07-03 12:10] damienrobson commented on #54
Never mind - I've managed to sort it by force-refreshing! :+1:

[2015-07-03 12:10] #54 closed, assigned to nobody

[2015-07-03 12:13] dburles commented on #54
Hey you shouldn't have to "force refresh" just check that you're passing in the correct zoom and center for each map in their respective map options helper

[2015-07-03 12:31] damienrobson commented on #54
Thanks, I'll update it as you recommend.

[2015-07-06 21:52] chackerian opened #55 "Control Positioning not working"
I'm trying to add a search bar and position it on the top left corner of the google maps window. According to the google maps api your supposed to use the following line to align the search once it has been created `map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);`

Currently my helper function is:

[code]

My onCreated code block is:

[code]

My HTML file looks like:

[code]

Unfor

[2015-07-06 22:11] chackerian commented on #55
Whoops, my jquery is wrong. `var input = $("pac-input")[0];` Forgot the #. It now works.

[2015-07-07 08:39] chackerian commented on #55
Well it isn't working exactly as I want it to actually. When I go to the page with the map, it doesn't reposition the search bar immediately. If I refresh the page it works properly but without doing this it remains above the map.

[2015-07-09 05:37] chackerian commented on #55
Any Ideas?

[2015-07-09 07:36] dburles commented on #55
Hey @chackerian might be worth asking in the [gitter chat](https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667) also it would be worth creating a simple reproduction application people can clone

[2015-07-12 21:49] chackerian commented on #55
I'll make sure to check that out in the future if I get stuck. Turns out I just had to load google maps slightly differently and now it seems to be working ok.

[2015-07-12 21:49] #55 closed, assigned to nobody

[2015-07-15 21:37] Jonfor opened #56 "Package added but not detected"
I can add the meteor package perfectly fine to my project but nothing is actually detected when trying to use it. For example, trying to do `GoogleMaps.load()` does not work because it cannot find `GoogleMaps` despite the package being added correctly and appearing when doing `meteor show`.

I think the issue that the package.js has to be updated to support the latest version of meteor.

[2015-07-16 00:29] dburles commented on #56
Hey @Jonfor would you mind providing the exact error message? Also make sure you're not referencing `GoogleMaps` on the server.

[2015-07-16 01:26] Jonfor commented on #56
Of course now that I try to reproduce the error I'm not getting it. I was get an error along the lines of 'The reference GoogleMaps is undefined', even though I had the package installed.

I found that while I still had this issue I could install the package locally and it worked fine. Not sure if adding it locally and then switching over to the online package changed something?

My IDE (WebStorm)

[2015-07-16 18:47] vhuerta opened #58 "Map works once / CSS height issues"
Hi im using iron router to load a template than contains a GoogleMap, it works perfectly the first time you navigate to the the route, but when access again, the map not work. Heres the code

[code]

[2015-07-16 19:02] Jonfor commented on #56
I got it to give me the error again. I have no idea what caused it to start up again. Also just noticed it is complaining about `google` and not `GoogleMaps` this time. I think this stack trace is a different issue; It might be because I load the library on the client only but attempt to load it on the server. Here is the stack trace:

`I20150716-14:58:34.253(-4)? Exception from task: ReferenceErr

[2015-07-16 19:21] Jonfor commented on #56
Pretty sure the issue was just me not loading in the client. I'll close the issue.

[2015-07-16 19:21] #56 closed, assigned to nobody

[2015-07-18 16:12] espoal opened #59 "Customize Template Helper?"
I'm porting a commercial theme to Meteor, and it uses google maps. I'm using your package, but I've met some issues:

1)  The map div requires a give ID and Class to be shown correctly, otherwise the height is 0 and the .ready() callback is never invoked. Right now I solve this with:

[code]

But it causes a FUOC and it is slow. How can I extend default helper with this class and id?

2) The optio

[2015-07-19 04:40] dburles commented on #59
Hey @servermeta
1. I'm sure you can easily solve this by modifying the CSS. If there's a good reason why that won't work I'll definitely look at adding the ability to pass in attributes to the wrapping div.
2. You shouldn't need to go to that length, it's designed to work this way as the options helper is designed to be called when the map is created/initialized. `loaded()` is a reactive method.
3

[2015-07-19 16:08] DevanB opened #60 "Issues setting up geolocation-marker utility"
I'm having issues getting geolocation-marker utility working. I've put the file in `client/lib`. After then add `GoogleMaps.loadUtilityLibrary('client/lib/geolocationmarker-compiled.js');` to `Template.map.onCreated` just before `GoogleMaps.ready` function and I see an error in the console:

`Uncaught ReferenceError: google is not defined`

I'm new to Meteor, so struggling through getting the geol

[2015-07-19 16:10] MARS1 opened #61 "Where would I put my API key when using this package"
Wasn't really sure where I would put this or how I could maybe put it in the map helpers? Any suggestions? Thanks.

[2015-07-21 01:43] dburles commented on #60
Hey place the library in your public directory.

[2015-07-21 02:55] DevanB commented on #60
Doing that yields a new error:

`Uncaught ReferenceError: GeolocationMarker is not defined`

Here is a gist of my `map.js`: https://gist.github.com/DevanB/1b2f0437c9040b7a3a9a
I have also tried it with the `GoogleMaps.loadUtilityLibrary('/public/geolocationmarker-compiled.js');` just above the `GoogleMaps.ready()` function and it yields the same error and another:

`Uncaught SyntaxError: Unexpecte

[2015-07-21 05:39] adamgins opened #62 "Step 2 in demo - Map not showing - can't see any errors on the console"
Thanks for this package.

I just tried inserting the initial Step 2 in the tutorial: http://meteorcapture.com/how-to-create-a-reactive-google-map/ `{{> googleMap name="exampleMap" options=mapOptions}}` and added the helper:

[code]

The map is not showing, I can't even see an iFrame in the generated HTML. I don't see anything in the console. I have `browser-policy` installed and configured with:

[2015-07-21 07:48] adamgins commented on #62
Solved - was a CSS issue that needed an `absolute` style... which is why the `100%` width and heights were not working.

[2015-07-21 07:48] #62 closed, assigned to nobody

[2015-07-23 11:12] foysalit commented on #58
facing the same issue. when I switch route and get back to the map it seems to load but the map's content isn't visible. I say it seems to load because the control options of the map is visible.
![selection_004](https://cloud.githubusercontent.com/assets/1919066/8849018/755e9614-313c-11e5-9354-07e05ab4cd86.jpg)

[2015-07-23 14:50] vhuerta commented on #58
Its a problem re creating the map, i solved it hidding the map instead create it again, but i do it by my self with no plugins :/

[2015-07-24 11:08] sahina opened #63 "Cannot assign to read only property 'mapTypeId' of mapOptions"
I followed your instructions but I get this error:

[code]

[2015-07-24 11:14] dburles commented on #63
Hey @sahina happy to take a look if you can provide a simple reproduction app. See: https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#reporting-a-bug-in-meteor

[2015-07-24 11:16] dburles commented on #58
Hey @vhuerta @foysalit this seems like a bug, happy to take a look if you can provide a simple reproduction app. See: https://github.com/meteor/meteor/wiki/Contributing-to-Meteor#reporting-a-bug-in-meteor

[2015-07-24 11:17] dburles commented on #61
Hey @MARS1 just pass in the options, like `GoogleMaps.load({ key: "abc123" })`. See here: https://github.com/dburles/meteor-google-maps#googlemapsloadoptions

[2015-07-24 11:21] dburles commented on #60
@DevanB make sure that `geolocationmarker-compiled.js` only lives in the `public` directory and not elsewhere within your Meteor application. Assuming it's at the root of the public directory (`public/geolocationmarker-compiled.js`). Load it like so: `GoogleMaps.loadUtilityLibrary('geolocationmarker-compiled.js');`.

Also place the `loadUtilityLibrary` method alongside the `load` method, rather th

[2015-07-24 11:22] dburles commented on #52
Hey sorry I haven't got back to this one @clarkritchie, did you manage to sort it out?

[2015-07-24 11:23] sahina commented on #63
Feeling embarrassed... :)

I setup options erroneously like this:

[code]

It should of course be:

[code]

Sorry about that...

[2015-07-24 11:23] #63 closed, assigned to nobody

[2015-07-24 11:24] dburles commented on #63
It happens to the best of us :)

[2015-07-24 11:26] dburles commented on #51
Hey @JulianSamarjiev sorry I haven't got back to this sooner, did you manage to figure it out? I can't see any code in your example for creating a marker. Perhaps look into Meteor's own package for geolocation, it may simplify things.

Seems like a simple idea for an example app, I may take a look into doing a blog post on that :)

[2015-07-24 11:28] dburles commented on #49
Hey @josephdburdick sorry, that's not something I've looked into. Though it might be a nice thing to expand the reactive maps example on. Perhaps try ask in the [gitter chat](https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667).

[2015-07-24 12:53] clarkritchie commented on #52
At the moment there's nothing I can do repeatedly.  I've been working with this library full-time for a month, and sometimes (very rarely) I've seen the `dragend` event leave the original marker in its place.  And sometimes markers just don't draw.  A quick zoom out/in or hard refresh fixes both.  Occasionally I get two `click` events (despite `event.stop()`) when I'm certain there's just one.  Ag

[2015-07-24 14:31] dburles commented on #52
Hmm, sounds like a tricky one to trace. Keep me posted if you do come across anything repeatable.

[2015-07-24 16:53] #52 closed, assigned to nobody

[2015-07-24 19:31] JulianSamarjiev commented on #51
Cheers for getting back, I will take a second crack at it once I get some time :) keep up the good work :)!

[2015-07-24 21:14] josephdburdick commented on #49
Ok well I'll do that. I'll close this now and if I come up with a solution I'll reopen here and post the solution.

[2015-07-24 21:14] #49 closed, assigned to nobody

[2015-07-25 00:28] #51 closed, assigned to nobody

[2015-07-29 05:08] kjetilge opened #64 "Position retrieval times out in ios app"
I'm trying to run the Reactive geolocation example.

When i  do: `meteor run ios` , then
In the simulator The map shows up correctly for about 8 seconds  and then it goes away and I see the message:
`Geolocation failed: Position retrieval timed out.`

Is this a bug ? or is  there a way around this. Everything works fine on the desktop browser.

[2015-07-29 05:12] dburles commented on #64
Hey, I'm not entirely sure but it's probably something to do with the application not having permission to access geolocation information. Possibly some config required there.

[2015-07-29 05:17] kjetilge commented on #64
I use this in mobile-config:

[code]

[2015-07-29 05:22] dburles commented on #64
Might be worth looking here https://github.com/meteor/mobile-packages/issues

[2015-07-29 05:34] kjetilge commented on #64
The most relevant issue might be this one: https://github.com/meteor/mobile-packages/issues/62
May be also subscriptions etc could be involved ?

The app is just a plain new app with the Reactive geolocation example in a layout using iron router:
the app is here: https://github.com/kjetilge/ReactiveGeolocation
Have you tested this code on mobile ?

[2015-07-29 06:16] dburles commented on #64
Just had a look into it myself and I believe the issue you linked is the issue I'm also seeing.

[2015-08-03 09:33] chinmaygit opened #65 "Not able to open map in modal or show/hide map."
Hi, i wanted to load map in bootstrap modal but it is not showing full map, the center of map is moved to top left corner, map images are loading in top left corner.
I researched that, triggering `event google.maps.event.trigger(Google.maps.myMap.instance, 'resize')`
will do, but it still not working. I read your documentation, it says ,

i called `GoogleMaps.initialize()` function in on button cl

[2015-08-03 10:12] dburles commented on #65
Hey thanks for the nice comments on the package. I'm not immediately able to answer this one, I'd recommend posting the question on stack overflow or the package gitter chat, find the link at the top of the readme.

[2015-08-04 17:31] mr2day opened #66 "Including GoogleMaps.load() in Meteor.startup gives the error "TypeError: window.GoogleMaps is undefined""
Hi,

I'm trying to include a map in a large Meteor app. The map doesn't show, and I keep seeing the error "TypeError: window.GoogleMaps is undefined" in console. I simplified things (deleted the templates, etc) until I had only two things remaining: the package 'dburles:google-maps', and the 'GoogleMaps.load()' in Meteor.startup. No template, no helper, so the error comes from here.
I made a meteo

[2015-08-04 21:18] hypogealgaol commented on #66
So somehwere you have

[code]

I think that means that somewhere else you have to have a `GoogleMaps.loaded()` and then return with the options and push that to a template. Were you still getting errors even with that?

[2015-08-05 07:40] mr2day commented on #66
Yes. `GoogleMaps.loaded()` is never true.

[2015-08-06 03:16] boogieprod commented on #58
Hi, I'm still a newbie in the world of web programming (started last November) and specially on Meteor framework (started to learn on May) and I'm facing the same issue trying to program a simple website for an university project. The re-route process doesn't work. The best solution would probably reside in a some kind of page destroyed so Google maps API would be properly re-loaded once the user

[2015-08-06 05:23] dburles commented on #58
I should have some time over the next couple days to take a look into things.

[2015-08-06 09:40] foysalit commented on #58
Sorry for the late response.
I don't think this is a bug in the package. Here's my scenario -

# Reason

I was setting the height of the map container with js on template rendered hook.

# Debugging

I looked up usual google map rendering issues and most of them seemed to be caused by map's height. Packages from other stacks such as [angular google map](https://github.com/angular-ui/angular-google

[2015-08-06 09:43] foysalit commented on #58
@dburles If you still think it might be caused by the package itself and willing to find a fix for it, let me know and I'd be happy to submit a complete bug report as instructed by the contribution guide.

[2015-08-06 11:33] dburles commented on #58
I've just created a super basic app, but I can't reproduce the bug. Find it here: https://github.com/dburles/map-bug-58. @boogieprod and @vhuerta perhaps look over this code to see where you might be going wrong?

[2015-08-06 12:34] foysalit commented on #58
I have forked map-bug-58 to show what was going on with my above mentioned scenario. Please check it out if you think this might help - [https://github.com/foysalit/map-bug-58/commit/9cee1d08adbc527708b43aaa6136ac68efff103b](https://github.com/foysalit/map-bug-58/commit/9cee1d08adbc527708b43aaa6136ac68efff103b)

[2015-08-06 15:27] hypogealgaol commented on #66
if GoogleMaps is undefined that means there's probably some error with the package installation. Is there a way for you to confirm that the package is actually being used by the app? If you think there is some package interaction interfering with the google-maps then I think there isn't much way to figure it out besides stochastically testing it. If you deleted everything from your large scale app

[2015-08-06 15:34] mr2day commented on #66
Yes, if I call `GoogleMaps.load()` in Meteor.startup without including the package, I get a huge error in console. If I include it, the only error I get is `TypeError: window.GoogleMaps is undefined`. So the package is read by the app.

[2015-08-06 15:45] mr2day commented on #66
Very strange.
Packages are added to the app in a package.js file, this way:
`Package.onUse(function(api) {
  api.use([
    'dburles:google-maps'
  ], ['client']);
});`
and that's why it wasn't working. But all other 40 packages the app uses are added this way and they all work, only this one doesn't.

I added it the usual way, with `meteor add dburles:google-maps`, and now it works.

[2015-08-06 15:48] hypogealgaol commented on #66
idk if that's verbatim but you didn't close your onUse call

[2015-08-06 15:53] fortunebubble opened #67 "Marker object doesn't show up when geo refresh"
the meteorpad demo
http://meteorpad.com/pad/efKWAphP8FcHH7Kcs/Geo_loc_example
based on the tutorial
http://meteorcapture.com/reactive-geolocation-with-google-maps/
The marker doesn't show up again if one wait for the GPS location to get refresh

[2015-08-06 15:54] mr2day commented on #66
Ok, I did. This is just example code. In the app, the onUse call is very big, and properly closed. It would make no sense to paste it all here.

[2015-08-06 16:20] boogieprod commented on #58
Hey guys I've tried with absolute positioning and fixed height/width attributes but it does the same.
I made this repo https://github.com/boogieprod/map-bug-58 to show the issue that I have. Read README. @dburles Your sample app is working perfectly fine and is using the exact same code than mine so I'm wondering what could be the issue.

Thanks again

[2015-08-06 17:44] hypogealgaol commented on #66
i understand, just making sure. glad you solved the issue though, I wonder if that still translates to there being a bug in the package though?

[2015-08-06 18:42] mr2day commented on #66
It would be interesting to make an app from scratch, where the packages are added with an onUse call, and see if google-maps works. If not, it means that it cannot be used this way, which might be inconvenient for some developers that use meteor for more than just rapid prototyping.

[2015-08-07 00:44] dburles commented on #66
Hey @mr2day would you mind pasting the contents of your `.meteor/packages` file?

[2015-08-07 01:00] dburles commented on #67
Hey @fortunebubble basically the problem was that meteorpad was choosing to use an older version of the package rather than the latest (1.1.1). See here: http://meteorpad.com/pad/fr7Jc4Qi385damFsC/Copy%20of%20Geo_loc_example

[2015-08-07 01:10] dburles commented on #58
Hey @boogieprod your issue is with the use of the momentum package, try remove the momentum block helper (surrounding `yield`) in `master_layout.html`. I believe the issue is related in that the map is not able to calculate positioning correctly. That's an issue outside of this package itself and to do with google maps.

[2015-08-07 01:24] boogieprod commented on #58
@dburles Your right, thanks for your time, it's highly appreciated. Do you have any idea how I could work around that issue with Momentum? (I like the transition because Meteor renders things WAY TOO FAST :) that sometimes it needs a little delay for a good end-user experience) Thanks a lot.

[2015-08-07 01:31] dburles commented on #58
Hmm not really sure without digging into it a bit more. Perhaps you could add the `percolate:momentum-iron-router` package to https://github.com/dburles/map-bug-58 as a simplified reproduction and open a bug report over here: https://github.com/percolatestudio/momentum-iron-router/

[2015-08-07 01:40] boogieprod commented on #58
Will do, I'll edit previous post with solution so if someone encounters the same issue, he'll know what to do without disturbing peace.

Once again, thanks so much for you're help, I knew Aussies were good people. (Oi Oi Oi)

[2015-08-07 01:40] dburles commented on #58
:) Good luck

[2015-08-07 01:45] fortunebubble commented on #67
I see, thank you @dburles

[2015-08-07 01:51] #67 closed, assigned to nobody

[2015-08-07 04:00] dburles opened #68 "Tests (PR's welcome)"
It would be ideal to have some tests.

[2015-08-08 12:25] sahina commented on #58
I am running into the same issue like this. If I set the the height of the map container to a fixe height, map loads every time. If I set it with javascript, map shows grey as in @foysalit 's screen shot.

Here is the working set up. Map loads every time I come back to /map route

[code]

This does NOT work.

[code]

Issue is the map container height. I know this is not the your package's issue bu

[2015-08-09 20:00] mr2day commented on #66
`# Meteor packages used by this project, one per line.`
`# Check this file (and the other files in this directory) into your repository.`
`#`
`# 'meteor add' and 'meteor remove' will edit this file for you,`
`# but you can also edit it by hand.`

`meteor-platform`
`driller-shop`
`sinda:fancybox`
`dburles:google-maps`

... but the majority of packages used by the app are kept in a packages.js file,

[2015-08-11 06:38] dburles commented on #66
@mr2day looks like it's not really an issue with this package in particular but another package may be doing something funky to the window object, it just happens to affect the maps package.

[2015-08-20 04:36] OkuraSt opened #69 "Wrapping googlemaps template on React component"
Hi, this is not an issue, its a question I hope someone can help me.

Im trying to wrap the googlemaps template into a react component but i cant get it to work.
Using flow router, I load the GoogleMap like so:

FlowRouter.route('/googletest', {
    action() {
        GoogleMaps.load();
        ReactLayout.render(MainLayout,{
            content: <GoogleTest />
        });
    }
});

The GoogleTes

[2015-08-20 05:53] dburles commented on #69
https://github.com/dburles/meteor-google-maps-react-example

[2015-08-20 09:19] #61 closed, assigned to nobody

[2015-08-20 09:19] #41 closed, assigned to nobody

[2015-08-20 09:22] #48 closed, assigned to nobody

[2015-08-20 09:22] #50 closed, assigned to nobody

[2015-08-20 09:23] #60 closed, assigned to nobody

[2015-08-21 03:54] OkuraSt commented on #69
Thank you for your time, with your example I got it to work.

[2015-08-21 03:54] #69 closed, assigned to nobody

[2015-08-21 20:43] jwjames commented on #64
Have you guys found a solution?

[2015-08-22 14:41] lucfranken commented on #66
If I include the package it does not work. Equal to the issues discussed above.

I suspect because of globals being used and meteor is capturing the variables into the local package.

Fix which seems to work for me:

[code]

[2015-08-25 15:45] espoal commented on #59
@dburles
Sorry for the late reply, I've been very busy.

1) I was porting a commercial theme to meteor. The code to port was not very well written, but I solved it by rewriting part of the CSS.

2) I solved this by rewriting the logic and using flow router.

3) Can you use LatLng literals instead of objects? It gives me an error with your package, but not with the original library.

I would also l

[2015-08-25 22:02] Aggr0vatE opened #70 "Trying to route the map in routes; Works in index.html body but won't work in routed template."
Hi,,
I am currently trying to implement dburles:google-maps and mdg:geolocation packages. When I add the {{> map}} function to the body of index.html everything loads but the problem is that it loads on every single page. When I try to add this to a sub-directory file, (in my case customerhome.html) nothing shows up and the <div class="map-container"> does not show up in the inspect element. There

[2015-08-25 22:13] Aggr0vatE commented on #70
I just had to put everything inside the div file and it worked!

_picard facepalm_

[2015-08-25 22:13] #70 closed, assigned to nobody

[2015-08-25 23:53] dburles commented on #59
Thanks @servermeta. Can you show me a snippet of how you're trying to use LatLng literals?

[2015-08-26 13:14] william-bratches commented on #64
I am having this issue as well...

[2015-08-27 00:36] dburles commented on #64
Hey guys from both @kjetilge and my own testing I'm pretty sure that this is the underlying issue https://github.com/meteor/mobile-packages/issues/62

[2015-08-27 01:40] andrerfneves opened #71 "Pan to current location"
Great package! Building a prototype with it right now and I love how extensive Gmaps v3 is. However, why is it that when I click my button I do not get a panTo function being called?

[code]

[code]

The map works fine and the Geolocation does too. My marker appears i perfectly. What I want to be able to do is click a button for the user to be panned back to their current location. Any idea why th

[2015-08-27 02:27] dburles commented on #71
Hey @andrerfneves use [Template events](http://docs.meteor.com/#/full/template_events) for event handling in Meteor.

[2015-08-27 02:32] andrerfneves commented on #71
Yeah that's what I did at first, but I assumed the Google Maps API might have limitations and whatnot because it also didn't work.

[code]

[code]

Am I not calling the map instance correctly?

Thanks for the help @dburles!

[2015-08-27 02:34] dburles commented on #71
Not sure exactly, are there any errors?

[2015-08-27 19:05] andrerfneves commented on #71
There are none. For some reason it seems that my click event isn't being registered on the DOM element at all. A `console.log('clicked')` call on the template event doesn't appear on the console. So I'll have a look at it.

Regardless, if I were to figure this out, the `GoogleMaps.maps.map.instance.panTo(POSITION-LAT, POSITION-LNG)` call makes sense/should work? (I only have 1 map instance called

[2015-08-28 01:14] dburles commented on #71
Should be easy enough to see, just try it out in the browser console

[2015-08-28 02:34] andrerfneves commented on #71
Even with specific lat and long values, the call only gives me an error object. I can't seem to get any more specific than this on the error for some reason.

<img width="602" alt="screen shot 2015-08-27 at 10 23 15 pm" src="https://cloud.githubusercontent.com/assets/2574011/9537849/b614e2e0-4d0b-11e5-8978-72e45f7f2d9c.png">

I'm working on getting more of my code here. Just have to select the nec

[2015-08-28 03:08] dburles commented on #71
Check the map docs the `panTo` method takes a `latLng` object.

[2015-08-28 16:22] andrerfneves commented on #71
As it turns out this is the call for a gmap with a name of 'map'.
Thanks @dburles.

[code]

[2015-08-28 16:22] #71 closed, assigned to nobody

[2015-08-29 09:58] espoal commented on #59
Sure! Right now I refactored the code so I don't need this anymore, but the commercial theme I was porting had some poor CSS which required to fix CSS with onReady. This caused some recomputation, slowing down stuff.

I had an helper which provided google maps options:

[code]

I have to check if google maps is loaded in this helper. A simpler solution would be to use a latlng literal, so I could

[2015-08-29 23:31] ouya99 opened #72 "Inside a webix template-driven widget"
Hi,

I posted this issue in the forum, but maybe in here would be appropriate too.

https://forums.meteor.com/t/google-map-inside-webix-widget/9027/1

I would like to add your plugin to a webix-template-driven widget, but I do not see how to pass the "options" parameter. When running it without it I get a NPE on the options data.

Thank you for your help!
java99

[2015-08-30 01:02] dburles commented on #72
Hey rather than using the blaze template, in this case instead try the `create` method

[2015-09-01 02:11] chackerian opened #73 "No Access Control Allow Origin Error"
I'm receiving the following error in Chrome. Tested it out in Firefox and google maps works fine. Google maps is loading on the page correctly but throws this error when I try using the Autocomplete search feature.

<img width="1277" alt="screen shot 2015-08-31 at 9 46 00 pm" src="https://cloud.githubusercontent.com/assets/5833874/9594733/e7eac432-502c-11e5-83b9-fd9851a61cfa.png">

[2015-09-01 02:31] dburles commented on #73
Hey @chackerian it looks like you're using the `browser-policy` package, you'll need to configure it to allow the required domains.

[2015-09-04 06:24] dburles commented on #72
Any luck?

[2015-09-05 02:51] nsookhan opened #74 "Map options not updating after route change"
Hi,

I'm having trouble getting the map options to update after a route change (using Iron-router) even when other data in the template is being updated.

To replicate this issue:
1. Go to https://planetrocks.utsc.utoronto.ca/
2. Click on a marker on the main map (or type in any letter in the search bar) and go to a specific site.
3. Type in any letter on the top right search bar (or enter a site

[2015-09-06 00:32] dburles commented on #74
Hey @nsookhan the map options are designed to return once. If you're wanting to update things reactively such as on a route change, you're best to do it inside of an `autorun` in the `ready` callback. See here for an example https://github.com/dburles/geolocation-example/blob/master/googlemaps-geolocation.js#L8-L37

[2015-09-08 01:16] ouya99 commented on #72
I assume your advice to use the create method would generally work

but I gave up due to other problems too and switched to meteoric - with ionic the template is working fine!

[2015-09-08 01:16] #72 closed, assigned to nobody

[2015-09-14 20:10] beverlycodes commented on #74
Usually, if I want to do something like re-center the map onto a new location, I use a lat+long string as the map's key property.  This tells React to completely drop the existing map from the DOM and render a new one.

[2015-09-14 20:16] beverlycodes opened #75 "Google API 403"
If I leave my app open in a browser for a long period of time (not sure what the exact length of time to trigger is, happens when it was left up overnight), Google's API starts returning 403s for all requests.  There doesn't seem to be a programmatic way to fix this, and worse, no way to detect it except looking at the error console.  All I can do is refresh (which is fine for me, but not so fine

[2015-09-14 23:39] dburles commented on #75
Hey @ryanfields that's a weird one, I've not encountered it myself. No luck googling the issue?

[2015-09-16 22:09] chackerian commented on #73
I don't think I'm using that unless it is hidden. I certainly didn't install that package and meteor list doesn't show it. On the version deployed online this error is not given when I search. It is only displayed on localhost. Could I possibly need a different google api link for both?

[2015-09-17 18:47] abdelba opened #76 "Supporting third party maps libraries"
Hi,

It could be useful to have support for those who don't use the package's templates.
Using Leaflet I may write (with [leaflet-plugins](https://github.com/shramov/leaflet-plugins) plugin):

[code]

Which gives

[code]

Indeed, the `google` object is loaded by the Maps API script.
I can have `GoogleMaps.loaded()` returning `true` and `google` still undefined.

Is it possible to add an option to

[2015-09-22 02:37] garyfoo opened #77 "google.maps.places.Autocomplete class"
Hello, does anyone know if it's possible to access to google.maps.places.Autocomplete class through this package? A big thanks to anyone who can help with this :)

[2015-09-22 04:55] dburles commented on #77
Hey @gfmr90 might this be what you're looking for? https://atmospherejs.com/jeremy/geocomplete

[2015-09-22 14:12] elalemanyo commented on #64
I am having this issue as well... geolocation is working on browser but not on iOS... any help/fix?

[2015-09-23 14:40] felipesmendes opened #78 "Failed to execute 'write' on 'Document': It isn't possible to write into a document from an asynchronously-loaded external script unless it is explicitly opened."
When I access my aplication is given this error:

Failed to execute 'write' on 'Document': It isn't possible to write into a document from an asynchronously-loaded external script unless it is explicitly opened.

Before update to Meteor 1.2 was working...

[2015-09-26 09:19] amnevins commented on #73
App.accessRule("http://*");

in your mobile-config.js file

[2015-09-29 01:53] dburles commented on #76
Hey @AbdelBa I'm not sure I understand the exact problem. Do you have a simple example project that illustrates the problem? Take a look at https://github.com/dburles/meteor-google-maps#loadutilitylibrary and https://github.com/dburles/meteor-google-maps#create may help.

[2015-09-29 03:22] #59 closed, assigned to nobody

[2015-09-29 03:25] #66 closed, assigned to nobody

[2015-09-29 03:25] #65 closed, assigned to nobody

[2015-09-29 03:29] dburles commented on #78
Hey @felipesmendes works okay here, can you provide a reproduction?

[2015-09-30 22:46] jurgenfink commented on #33
@dburles it sure did for me - thanks so much for your good work (I was fiddling around on that for quite a while)
I had the same issue - your last comment resolved nicely - smooth like a baby now.
I am using:
- Meteor 1.2.0.2
- dburles:google-maps (your package, works nicely)
- jeremy:geocomplete
- browser-policy                  , version 1.0.5
- browser-policy-common   , version 1.0.4
- browser-

[2015-10-02 14:56] wal-agardezi opened #79 "google map resize is not working"
I am trying to resize the map like this google.maps.event.trigger(GoogleMaps.maps.exampleMaps , 'resize') is not working. Can you tell me why it is not working

[2015-10-02 15:33] philipobrien opened #80 "cant access visualization methods"
Hi, I am trying to replicate [this example](https://developers.google.com/chart/interactive/docs/gallery/geomap#regionsexample) but I'm getting errors related to this

[code]

[code]

I am making sure `visualization` is loaded using

[code]

but when I view the contents of `visualization` all I see is

![image](https://cloud.githubusercontent.com/assets/1763813/10250741/8dd83b30-6924-11e5-8a79-035

[2015-10-04 03:44] ldong commented on #58
I had the similar issue, instead of putting `googleMap` in a `template`,

[code]

Just create a DOM

[code]

then call explicitly based on different event triggers.

[code]

[2015-10-07 03:32] dcworldwide commented on #58
Same issue for me.

It definitely seems related to the height property.  I need to set it explicitly in CSS before anything renders. This is a bit of a pain, as it makes responsive layouts harder. In may case, i'm using flexbox, but it doesn't work with google maps for this reason.

I've tried deferring the instantiation of the component until the template DOM is fully rendered as follows. Yet eve

[2015-10-07 04:23] dcworldwide opened #81 "Console error"
I've been noticing the following event in my console each time i load this package in my app

<img width="701" alt="screen shot 2015-10-07 at 14 19 37" src="https://cloud.githubusercontent.com/assets/4898751/10329036/cdcb7abc-6cfe-11e5-984b-fd51c0a31f58.png">

I'm using the latest chrome.

It seems harmless as everything seems to work...but thought you should be aware of it

[2015-10-07 04:32] dcworldwide commented on #81
I can confirm that this error fires on map scale change

[2015-10-07 07:52] jamiecollinson opened #82 "Error in Meteor 1.2.0.2 - ReferenceError: google is not defined"
Hoping someone can help - I have an existing project which I'm in the process of upgrading to Meteor 1.2.

I've successfully done a meteor update and have my project working, except for one problem I'm experiencing with `meteor-google-maps` - whenever I visit a template which contains one of my maps I get the following error:

[code]

This then seems to cause some knock-on issues with Blaze, but I

[2015-10-07 11:00] MaxGuitet commented on #82
To add more information on this issue (I'm working with @jamiecollinson on the project). We've investigated a bit and it turns out the problem comes from the onDestroyed event. Commenting out the line 116
`google.maps.event.clearInstanceListeners(GoogleMaps.maps[this._name].instance);`
solves the error. We found that  GoogleMaps.maps[this._name] was undefined because  this._name was undefined. Rep

[2015-10-07 13:01] dburles commented on #82
Hey guys, I've not seen any issues with 1.2 so far, I've just updated the example apps to 1.2.0.2 and they're running okay. Might there be some other influence? are you able to reproduce the issue on a stripped down version of the application (or a brand new one)? if so, that would be super helpful

[2015-10-07 13:07] dburles commented on #82
Just had a quick mess around and I have reproduced the issue, I'll hopefully have a fix up soon, thanks

[2015-10-07 13:17] dburles commented on #82
I've just released 1.1.5, please let me know if it fixes the issue

[2015-10-07 13:19] dburles commented on #81
Thanks @dcworldwide I think this is related to https://github.com/dburles/meteor-google-maps/issues/82 update to version 1.1.5 and hopefully that will fix the issue.

[2015-10-07 13:22] dburles commented on #80
It appears as though it's perhaps loading a different version of the library than the one loaded via the google jsapi as in the example.

[2015-10-07 13:33] MaxGuitet commented on #82
It seems to have solved the issue indeed. Thanks very much for that!

[2015-10-07 13:41] dburles commented on #82
Great!

[2015-10-07 13:41] #82 closed, assigned to nobody

[2015-10-07 13:58] jerocosio opened #83 "Help positioning a pin on the middle of the map"
Hi, I'm having some trouble trying to set a pin on the center of the map. The first time I load the map everything works as I expect it and the pin is at the correct center of the map, and also when I refresh the page (on the browser) everything works fine, but when I access the url with the maps once it has been loaded before, the pin always appears some pixels above the actual center (please che

[2015-10-10 05:12] lorensr commented on #64
The geolocation code is a page long, shouldn't be too hard to fix, perhaps going off of this fork: https://github.com/meteor/mobile-packages/pull/87

[2015-10-11 11:43] jbboccaren opened #84 "Remove markers"
Hello,
I am stuck with this problem for days.
I'm trying to display markers reactivly on a map, according to a slider (noUislider, a range with 2 values).
So I have to remove the markers when they are not part of this range.
What I 've tried with marker.setMap(null) function, (google examples) doesn't seem to work.
Like in your reactive-maps-example, I'm using an observe() function on the query. T

[2015-10-12 01:11] nsookhan commented on #74
Thanks @dburles, my friend and I finally looked into this issue. Thanks for your input as well @ryanfields. .

[2015-10-12 01:11] #74 closed, assigned to nobody

[2015-10-12 01:11] nsookhan commented on #74
And sorry for the late reply!

[2015-10-18 12:43] mtsewrs opened #85 "Empty map-canvas"
The only thing I get is an empty map canvas....

[2015-10-19 16:57] eddieux commented on #77
Alternatively, I think you can load the Maps plus the Google Places API like this:

[code]

and you will get the whole Autocomplete stuff, since it resides under google.maps.places.

[2015-10-21 15:25] fvpDev opened #86 "Uncaught TypeError: Cannot read property 'appendChild' of null (google-maps.js: 12)"
Of all possible problems I am getting a `"Uncaught TypeError: Cannot read property 'appendChild' of null"` error for google-maps.js line 12 which is `document.body.appendChild(script);`

It's boggling my mind: I set it up to load within `Router.onAfterAction()` on the client...what could I be doing wrong, shouldn't `document.body` not return `null` at that point?

[2015-10-21 17:32] fvpDev commented on #86
@jshimko, You ever encounter this problem? ^

[2015-10-23 16:13] cdeadlock commented on #58
I am having a lot of trouble with map re-rendering.

I have had to put in a weird hack to allow re-rendering

[code]

This was the only way (that I have found so far) to get certain things to re-render in meteor it seems, but I am not sure how to re-render maps when necessary.

I have 2 different maps, each in a modal activated by a button.

When I use the blaze template for maps it seems only the

[2015-10-23 18:55] Loschcode opened #87 "GoogleMaps.load() not working on iOS (with Iron)"
I don't know if it's related to the package itself or Iron. The map is showing up correctly in my browser but when I try it out with iOS Simulator (iPhone 6 / iOS 8.3) it just never loads ... Here's a repository I setup for you to reproduce the problem

https://github.com/Loschcode/meteor-iron-google-maps-issue

I'm not sure it's a human mistake or an issue, but it's been hours i'm on it and i rea

[2015-10-25 06:11] velum commented on #64
I am having the same issue. Was this ever fixed?

[2015-10-26 04:14] josephdburdick opened #88 "Content Security Policy violation"
Hi @dburles,
I've started using [Base](https://themeteorchef.com/base/) as a boilerplate for my Meteor development and I've run into the following issue while trying to add a Google map with the default options you've provided:

[code]

My Google searching hasn't returned anything substantial so I thought I'd ask.

[2015-10-26 07:08] dburles commented on #88
Hey @josephdburdick that boilerplate uses the `browser-policy` package. You'll need to configure some rules. Put these somewhere on the client:

[code]

[2015-10-26 07:09] dburles commented on #87
Hey @Loschcode have you added the access rules? See: https://github.com/dburles/meteor-google-maps#mobile-platforms

[2015-10-26 07:10] dburles commented on #86
Not sure exactly, I suggest trying `onBeforeAction` instead

[2015-10-26 07:17] dburles commented on #85
Need more info

[2015-10-26 07:20] dburles commented on #84
Sounds to me like a publication issue, are you also subscribing based on the date range values? That should sort out your problem. Let me know if that makes sense.

[2015-10-26 08:12] jbboccaren commented on #84
Thank you, It was the problem. I solved it last week, perhaps not good in a good way.

What I've done so far :

**Server side :**

[code]

**Client side :**

[code]

and

[code]

[2015-10-26 13:52] josephdburdick commented on #88
@dburles thanks for the tip! I also notice now that this is related to #33. I'll close this for now and reopen if necessary.

[2015-10-26 13:52] #88 closed, assigned to nobody

[2015-10-28 15:38] fvpDev commented on #86
Ok I will try that today/tomorrow

[2015-10-30 06:45] minixxie opened #90 "The page was loaded over HTTPS, but requested an insecure image"
We're using this package in a meteor project over HTTPS URL.
And it reports some Warning in the console saying this:
Mixed Content: The page at https://xxxxx was loaded over HTTPS, but requested an insecure image 'http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/images/m2.png'.

We would like to know if there is a way in this package to specify to use HTTPS google map

[2015-10-31 00:11] therealrobster opened #91 "ReferenceError: GoogleMaps is not defined"
Hi there,

I've just tried installing your package, am excited to take it for a spin.

I performed the default install into my app via:
`meteor add dburles:google-maps`

I checked it's installed by using:
`meteor list`
and the following was retrieved:
- autopublish           1.0.4  (For prototyping only) Publish the entire database to all clients
- blaze-html-templates  1.0.1  Compile HTML templat

[2015-10-31 03:09] dburles commented on #91
Hey the problem there is that GoogleMaps is client side only

[2015-10-31 03:37] dburles commented on #90
Hey @minixxie the package does load the main API over https are you loading in any other google maps libraries by any chance? (Within `GoogleMaps.load({ libraries: "..." })`)

[2015-10-31 04:09] therealrobster commented on #91
Well that's a bit embarrassing but thank you for replying (and so quickly).
I'm very new to Meteor and javascript in general so I appreciate your help.
Thanks so much, that worked perfectly.  Hopefully this will help another beginner in the future.

Thanks again.  Rob

[2015-10-31 04:09] #91 closed, assigned to nobody

[2015-10-31 05:12] dburles commented on #91
No problem

[2015-11-02 18:32] JesperWe opened #92 "Why do I get an inaccessible marker at the map center?"
I do a very simple map component using Blaze Components (Only difference from standard Blaze is helpers and events go in the same class):

[code]

The map comes up nicely, but it has a fixed marker at the center location. Since I didn't create this marker I do not have a handle on it, so I can't get rid of it.

How can I get rid of this?

[2015-11-04 06:02] dburles commented on #92
Hey @JesperWe are you able to reproduce it on a fresh Meteor project?

[2015-11-04 08:28] JesperWe commented on #92
I ended up abandoning your package and rolled my own stuff into my BlazeComponent, which works as expected.
Sorry, I realize I am not being very helpful but I am under time pressure so I am not going to pursue this any further.

[2015-11-05 18:13] YannDanthu commented on #66
Hi,
the trick does not work for me :(

tried to do api.use global or client, same for api.export.
and all possible combination.

no luck.
I had to put the dependence back in .meteor/packages

[2015-11-06 09:08] lucfranken commented on #66
Understand that that post is from quite some versions of Meteor back. So the solution or fix might be different.

[2015-11-06 23:30] dburles commented on #66
Just to be clear are you guys wanting to load the package from a package (not through meteor add) and then have GoogleMaps available to the application scope?

[2015-11-06 23:37] dburles commented on #66
and if that's the case you'll want to use `api.imply('dburles:google-maps@1.1.5', 'client');` to make `GoogleMaps` available to the application

[2015-11-08 12:47] #92 closed, assigned to nobody

[2015-11-08 12:50] #85 closed, assigned to nobody

[2015-11-08 12:50] #84 closed, assigned to nobody

[2015-11-08 12:51] #81 closed, assigned to nobody

[2015-11-09 08:43] YannDanthu commented on #66
Hi,
yes that's correct.
We would like to load the dep from a package.
And load it with `api.imply('dburles:google-maps@1.1.5', 'client');`
or simply `api.imply('dburles:google-maps@1.1.5');`

regs

[2015-11-09 08:45] lucfranken commented on #66
It's old but my use case was:
- global app
  - my package
    - maps package

And I wanted to use the map in my package.

Think you are right @dburles it has the same effect. Still it feels not right, why should I make a sub package global if I just want to use it in my package?

[2015-11-09 11:38] dburles commented on #66
If you're just wanting to use it in your package then `api.use` is suitable

[2015-11-10 04:57] mariyaVj commented on #79
I am also trying  with this code . It is not working for me also.

[2015-11-10 08:34] dburles commented on #79
If you believe this a bug with this package it would be super helpful if you could produce an example application that reproduces the issue, and as a bonus a working example outside of this package!

[2015-11-12 10:54] Gardezi1 commented on #79
@mariyaVj and @dburles  I kind of found the solution to it.  I was doing it wrong I had to access the  resize the instance of the map not exapmleMaps. I did it like this

google,maps.event.trigger(GoogleMaps.maps.exampleMaps.instance , 'resize')

and at the end I would like to say that @dburles I mean no offence but please maintain your repo :)

[2015-11-12 11:07] wal-agardezi commented on #79
@mariyaVj  and @dburles  I kind of found the solution to it. I was doing it wrong I had to access the resize the instance of the map not exapmleMaps. I did it like this

google,maps.event.trigger(GoogleMaps.maps.exampleMaps.instance , 'resize')

and at the end I would like to say that @dburles  I mean no offence but please maintain your repo :)

[2015-11-12 11:07] #79 closed, assigned to nobody

[2015-11-12 12:04] dburles commented on #79
thanks @wal-agardezi

[2015-11-16 05:55] eddieux opened #93 "Loading utility libraries"
I tried loading the [GeolocationMarker](https://github.com/ChadKillingsworth/geolocation-marker) library with the loadUtilityLibrary function (in Meteor.startup) and saw that the library is not loaded in the GoogleMaps.ready() or in GoogleMaps.loaded() callbacks.

After reading the doc:

[code]

I'm still not sure what 'initialized' means, or where/when exactly is a library 'loaded'?

[2015-11-16 06:14] eddieux commented on #93
Sorry my bad, I can now confirm that the utility library is present on GoogleMaps.ready().

[2015-11-16 06:14] #93 closed, assigned to nobody

[2015-11-18 18:07] ciokan opened #94 "Not working on mobile internet for some reason"
Works like a charm on wifi but when I switch my phone on mobile internet the google maps api javascript is not injected into the page: `document.body.appendChild(script)`

Any ideas why?

[2015-11-18 20:43] #94 closed, assigned to nobody

[2015-11-22 14:26] Loschcode commented on #87
It seems it was the problem, sorry i didn't close this issue ;)

[2015-11-22 14:26] #87 closed, assigned to nobody

[2015-11-24 16:01] Loschcode commented on #64
Same issue here, anyone fixed it ?

PS : Why isn't there anyone with a proper solution here ? This issue is opened since July and many people are having it.

[2015-11-25 01:27] walkerrandolphsmith commented on #58
percolate:momentum-iron-router fixed the issue I had with google maps rendering gray when using iron router and momentum.  +1

[2015-11-26 03:39] hafeez1042 opened #95 "How to use with react?"
I am using react as front end, is it possible to use with reactJS

[2015-11-26 03:39] dburles commented on #95
Yes!
https://github.com/dburles/meteor-google-maps#examples
https://github.com/dburles/meteor-google-maps-react-example

[2015-11-26 10:27] dandv opened #96 "Blank map without any error in Chrome 46, IE 11"
Looks like I'm experiencing a variant of #33, but without console errors:

![image](https://cloud.githubusercontent.com/assets/33569/11420708/bcef4b4e-93e4-11e5-9a70-7a1d34b8eceb.png)

Demo at http://huawei.meteor.com or https://huawei.meteor.com.

The repo is a simple educational app, an [Instagram clone](https://github.com/dandv/instagram-clone). It used to run fine in May 2015. `meteor update`

[2015-11-26 12:31] dburles commented on #96
Thanks @dandv I also see a blank map there, will take a look

[2015-12-01 00:07] dburles commented on #96
Hey @dandv this seems to be the culprit: https://github.com/dandv/instagram-clone/blob/master/client/photochat.css#L7

[2015-12-01 00:09] dburles commented on #95
Did that help @hafeez1042 ?

[2015-12-01 00:11] #73 closed, assigned to nobody

[2015-12-01 00:12] dburles commented on #75
@ryanfields feel free to reopen if this is still an issue, though it seems unlikely it's a direct issue with this package

[2015-12-01 00:12] #75 closed, assigned to nobody

[2015-12-01 00:22] #76 closed, assigned to nobody

[2015-12-01 00:23] #77 closed, assigned to nobody

[2015-12-01 00:23] dburles commented on #78
@felipesmendes did you manage to solve this one?

[2015-12-01 00:27] dburles commented on #64
@Loschcode unfortunately the root of the problem lies with the geolocation package

[2015-12-01 00:28] #80 closed, assigned to nobody

[2015-12-01 00:29] dburles commented on #83
Hey @cosio55 did you manage to solve this? will close as it's not an issue with the package itself

[2015-12-01 00:29] #83 closed, assigned to nobody

[2015-12-01 00:30] dburles commented on #86
Hey @fvpDev interested to know if that solved the issue.

[2015-12-01 00:31] dburles commented on #90
Will close as this doesn't directly relate to an issue with this package

[2015-12-01 00:31] #90 closed, assigned to nobody

[2015-12-01 09:39] felipesmendes commented on #78
Yes, sorry for didn't reply, the bug it's because i was puting the `<script>` tag calling maps in template.
My fault!
 Thank You!

[2015-12-02 01:57] hafeez1042 commented on #95
thank you @dburles , Actually i didn't check that, i was busy with some other project. i will inform you after checking.

[2015-12-05 03:03] dandv commented on #96
Thanks a lot, that fixes it!

[2015-12-05 03:03] #96 closed, assigned to nobody

[2015-12-06 03:48] arvi opened #97 "How to use GoogleMaps.create instead of Blaze"
I've been trying to experiment how to use GoogleMaps.create instead of the blaze template.

I can't figure out where to insert this code to show the map. I was trying to create a drawMap class and would need element id which the blaze template doesn't have. I'm confused.

[code]

Any example would help. Thanks a bunch!

[2015-12-06 03:50] dburles commented on #97
Hey @arvi you just need to be sure that the element exists in the DOM before calling `create`, in Blaze this is typically done in the template `onRendered` callback, or in React `componentDidMount`.

[2015-12-07 00:19] arvi commented on #97
Hello @dburles, thanks for your assistance. :)

I tried this approach and still can't get the map to render:

`map.html`

[code]

`map.js`

[code]

[2015-12-07 01:09] dburles commented on #97
Hey @arvi `GoogleMaps.loaded` is a reactive method, so it needs to be placed within a reactive computation (such as a template helper or an autorun).

You're looking for something like this:

[code]

[2015-12-07 03:58] arvi commented on #97
Hello @dburles thanks so much! It finally worked. :) I also added markerwithlabel.js.

[code]

[2015-12-07 03:58] #97 closed, assigned to nobody

[2015-12-07 04:05] dburles commented on #97
No problem. You can also use `loadUtilityLibrary` to do that for you!

[2015-12-07 04:48] arvi commented on #97
Nice! Thanks again @dburles :smiley:

[code]

[2015-12-11 21:28] fvpDev commented on #86
I called `GoogleMaps.ready()` in the `onCreated` hook of the map template without involving Router at all and I called `GoogleMaps.load()` in a `Meteor.startup()` call. I don't think I ever did manage to figure out what exactly the problem was but it turns out I didn't need to use Router.
Works for me -> http://joesnewyorkpizzeria.com/

That way, I was able to have everything gMaps-related in one

[2015-12-12 08:13] #86 closed, assigned to nobody

[2015-12-23 11:11] acamarata opened #98 "Error: google is not defined"
In my maps helper I have:

[code]

Yet it breaks and the error in console is "google is not defined" for the line declaring "center"

[2015-12-23 11:20] acamarata commented on #98
I am using `if (typeof google !== 'undefined')` as a temporary work around

[2015-12-23 11:25] dburles commented on #98
Strange, how are you loading the library? Can you provide some more context?

[2015-12-23 11:43] acamarata commented on #98
I am loading and initializing with startup:

[code]

While I am using the above code in the initial post within a map helper modeled on your example:

[code]

That is the whole helper.

[2015-12-23 11:44] dburles commented on #98
Ah the problem is you're calling the [initialize](https://github.com/dburles/meteor-google-maps#initialize) method. It's not required if you're loading the package using `GoogleMaps.load`.

[2015-12-23 11:59] acamarata commented on #98
I commented out the initialize() method, used loaded() again and the error returned: google is not defined

Though going back to typeof without initialize still works..

[2015-12-23 12:01] dburles commented on #98
Try the [example app](https://github.com/dburles/meteor-google-maps-demo) (it's super basic) and compare that with your application code, you may spot something gone awry.

[2015-12-29 20:51] educkf opened #99 "How do I update the map with new Markers?"
Hello!
I have on my app an input bar that user can type the address, and then it should show a new pin for that address. The only issue is that it is only showing the Marker if I drag the map around or zoom in/out on it. I am pretty sure the issue is on `GoogleMaps.ready` stuff I am using to show this new marker. It is like this:

[code]

This code works, it is showing the Marker, not automaticall

[2015-12-29 22:18] dburles commented on #99
Hey @educkf take a look at [this example](http://meteorcapture.com/how-to-create-a-reactive-google-map) to see how's it's done

[2015-12-30 08:46] jgroom33 opened #100 "multiple polyLine handling"
The following capability does not appear to be supported when using the Blaze implementation:
http://codepen.io/anon/pen/EPNLWO

During the remove, only the last polyLine is removed from the map.

ployLine creation:

[code]

polyLine removal:

[code]

real-world attempt:
https://ide.c9.io/jgroom33/lalalala/

client/templates/addRoute.js has a comment mentioning:
https://github.com/dburles/meteor-g

[2015-12-31 06:08] dburles commented on #100
Hey @jgroom33 I think I need more context? do you think it's a problem specific to this package or a question on Google maps itself?

[2016-01-01 16:27] dhobla007 opened #101 "Cannot read property 'PlacesService' of undefined"
While using this package and using Place service i am getting following error.
Is package does not support Pace service calls?
or if yes what is way to fix this issue

Thanks,

[2016-01-02 03:05] dburles commented on #101
Hey @dhobla007 not much info to go on here but judging by the error I'm guessing it means that `google` is undefined. This means the script has not yet loaded.

https://github.com/dburles/meteor-google-maps#loaded

[2016-01-08 19:56] fpaboim commented on #95
I'm getting 'Uncaught InvalidValueError: GoogleMaps.initialize is not a function' on meteor 1.3, has anyone tried this with the new beta? tks!

[2016-01-13 02:30] mattiemoon commented on #58
Hello all.

I've been banging my head against this problem for the last couple of nights and I wondered if anybody had found a solution or workaround?

I see the following behaviour:
1. The first time I access the route in question, my Google map renders perfectly.
2. If I then move elsewhere in the app, and then return to the same route later, the map container renders portions of the map (grey b

[2016-01-13 07:09] dburles commented on #58
Hey @mattiemoon have you tried this example app https://github.com/dburles/map-bug-58 maybe comparing it with your app may help you track down the source of the problem

[2016-01-13 08:58] mattiemoon commented on #58
Hi @dburles,

Thanks for the quick reply. I'll give this a bash later in the week and will report back - thanks again!

[2016-01-14 17:37] rahul606 opened #103 "BrowserPolicy is not defined."
@dburles I am trying to implement jeremy-geocomplete but unfortunately I am having an error as "BrowserPolicy is not defined". When I look into the package it makes clear there is no variable defined as BrowserPolicy. This is the js file look like

//////////////////////////////////////////////////////////////////////////
//                                                                      //
/

[2016-01-14 19:28] #103 closed, assigned to nobody

[2016-01-18 04:20] Basems opened #104 "Error : InvalidKeyOrUnauthorizedURLMapError"
We use dburles:google maps for allowing Google auto-complete search (for addresses), but the following error message always prompts

"This page was unable to display a Google Maps element. The provided Google API key is invalid or this site is not authorized to use it. Error Code: InvalidKeyOrUnauthorizedURLMapError"

We ensured that our browser key has been generated correctly as recommended by G

[2016-01-19 01:03] mattiemoon commented on #58
Hello.

The test app helped me find the problem after cutting out reems of code. Turns out a CSS class was causing the problem. From my example above, if I chuck away the following:

[code]

Everything works fine no matter how may times I leave and re-render the template containing the maps. The "hide" class was going to be used to handle some transition animations, and doesn't actually map to any

[2016-01-20 01:21] danielksato opened #105 "React: error rendering markers, zoom controls take several minutes"
I'm having an issue with the map rendering, but not loading the zoom controls - I get empty white boxes instead. Markers don't render either - I eventually (after several minutes) get the error message:

"Uncaught TypeError: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The provided value is not of type '(HTMLImageElement or HTMLVideoElement or HTMLCanvasElement or ImageBitmap)'"

A

[2016-01-20 01:37] dburles commented on #105
Look for a global CSS height property on the img tag

[2016-01-20 16:00] danielksato commented on #105
Thanks for jumping in so quickly! Unfortunately, it doesn't seem to be a CSS issue - I removed all CSS and replaced it with googlemaps-react.css from your example, and I'm still having the same issue. Again, the controls _eventually_ render, after several minutes. Any other directions you might be able to point me in?

[2016-01-20 23:54] dburles commented on #105
Hmm very strange, just to clarify, the example app works perfectly fine? But the error occurs in the context of your own application?

[2016-01-21 00:54] danielksato commented on #105
That's correct. I double-checked that I had the same versions of meteor and all its packages in both cases. I'll try to get it deployed when I get home tonight, so I can give you a better idea what's going on. This is a school project, so my teammates and I would be grateful for any insight you might be able to give us.

[2016-01-21 02:02] dburles commented on #105
Sure thing, if you can put the source up too that would be helpful

[2016-01-21 03:15] danielksato commented on #105
It's live at http://dksato.com:3000/newevent and the source is at https://github.com/Polliwog-Labs/minnow_2. The project is a collaborative trip planning app, so there's a lot of other stuff going on, but the only component that depends on google maps is Event, defined in client/componets/event.

Thanks again!

[2016-01-21 07:10] dburles commented on #105
I think the most likely culprit is Ionic, I don't have time to dig any further as I don't believe the issue is specifically related to this package, good luck!

[2016-01-21 07:13] dburles commented on #104
Hey @Basems did you end up resolving this one? It's not something I've come across before, are you able to make use of the key by manually loading the maps library (paste the script tag in your application `<head>` tags)

[2016-01-21 07:14] dburles commented on #104
That should help determine whether it's an issue with this package or something amiss with the configuration

[2016-01-21 07:15] dburles commented on #100
Closing this one as it's a couple of weeks old, @jgroom33 feel free to reopen it if need be.

[2016-01-21 07:15] #100 closed, assigned to nobody

[2016-01-21 07:16] dburles commented on #99
@educkf Did that solve the problem?

[2016-01-21 07:16] #99 closed, assigned to nobody

[2016-01-21 07:16] dburles commented on #101
@dhobla007 did you end up resolving this? going to close the issue as it's a couple of weeks old

[2016-01-21 07:16] #101 closed, assigned to nobody

[2016-01-21 17:56] danielksato commented on #105
I was able to reproduce the problem with ionic completely removed, so I don't think that's it.

After adding optimized: false to the marker, I was able to get it to render at the same time as the map controls, several minutes after the map itself renders. I appreciate your help so far, and I do agree with you that whatever is going wrong is probably happening upstream of this package. Still, if an

[2016-01-21 23:03] Basems commented on #104
Hi David,

Thanks for your follow up and suggestions.

We did fix the issue. It was the way we specify the key in meteor start up.
We specified it in the settings.js file

We used to specify it this way: GoogleMaps.load({v: "3", key:
Meteor.settings.googleMap_key, libraries: 'places'});

Instead we directly specified the key in the function call
Meteor.startup(function() {
  GoogleMaps.load({

[2016-01-24 05:38] dburles commented on #104
Great

[2016-01-24 05:38] #104 closed, assigned to nobody

[2016-02-11 17:25] Wade-BuildOtto opened #106 "Map shows White on IOS App - even after adding policy's"
The map loads fine when loaded as a web page but doesn't load from IOS app, I have added the below as the policy's under server, The White canvas tells me its attempting to load but doenst have enough access, their isn't much out their on this other then the policy fix.

Am I missing something else?

BrowserPolicy.framing.disallow();
BrowserPolicy.content.disallowInlineScripts();
BrowserPolicy.con

[2016-02-11 17:31] Wade-BuildOtto commented on #106
I am wondering if it something to do with user permissions as the request never pops up.

[2016-02-11 18:12] Wade-BuildOtto commented on #106
ok you also need to add "mdg:geolocation" and its best to start geolocation early, you have to ask for permission before its allowed to load.

Funny thing now is that it works fine on Mobile but not on the web via browser.

[2016-02-14 01:21] chackerian opened #107 "Modal Loading Issues"
Google Maps only displays properly when the browser window has been manually resized or when the developer tools window is opened. Until these things occur, google maps displays grey as if it is unloaded. This is only happening on my modals and not on non modal pages.

Looks like this has been asked before in #65 , have you since found anything to make this work?

[2016-02-14 08:56] dburles commented on #107
Hey @chackerian I believe the underlying issue is one with google maps itself and it being unable to correctly calculate the container height. I'm sure I've seen some info out there on the problem and how to fix it.

[2016-02-14 08:57] dburles commented on #105
Interested to know if you found the source of the problem @pretzelface!

[2016-02-14 10:20] JayMc commented on #107
If you have the map placed in a template in the modal, try calling
GoogleMaps.ready() in the onCreated or rendered function. Or if the modal
has some sort of onShow event use that.

On Sun, 14 Feb 2016 7:56 pm David Burles notifications@github.com wrote:

[2016-02-15 22:16] danielksato commented on #105
I never did - the problem got passed around our group, and nobody could quite figure it out. We tried different ways of loading the Google Maps API library, with the same result. Setting optimize:false on the markers caused them to show up, eventually, but it still takes several minutes, like it's waiting for something to time out.

[2016-02-18 03:48] chackerian commented on #107
I tried all those options and they didn't seem to help.

[2016-02-22 23:25] Rathius commented on #107
Have you tried having the modal itself as a template in a separate file and then call the template from within the modal? Something like

<modal>

[code]

</modal>

[2016-02-22 23:26] Rathius commented on #107
That should be
    < modal>

[code]

[2016-02-26 00:25] PolarisWT opened #108 "Fails silently (blank canvas - no error) - SOLVED"
I had this issue and had a hard time figuring out where the error was.  I finally ended up installing the package manually in my meteor project (/packages) and found that when the options object is not set properly, it just returns undefined without a message on the client or server.

Quick version: If you just get a blank canvas area and no errors (in console) are presented - check that you are i

[2016-02-26 00:36] dburles commented on #108
Hey @PolarisWT originally it returned an error if no options were found, but that limited the ability to make use of reactivity within the `mapOptions` helper just like what you're doing there with `findOne`. So the way it works now is instead of throwing an error when it sees no options, it will only initialise the map once an object is returned.

Here's the commit that introduced this change: ht

[2016-02-26 00:45] PolarisWT commented on #108
Ahhh, I see!  That makes sense...  Thanks @dburles

I did notice a few possible similar issues others had with something similar to this (but they didn't give much detail).  So, I am hoping others can glean a little on where to start looking when the map doesn't present as expected.

Closing this issue and PR cancelled.

Cheers!

[2016-02-26 00:45] #108 closed, assigned to nobody

[2016-02-26 00:58] dburles commented on #108
I should probably better explain its behaviour in the docs :)

[2016-02-27 07:02] chackerian commented on #107
Yeah, I tried. That doesn't seem to work either.

[2016-02-27 17:00] felipesmendes commented on #107
I have same issue, exacly what @chackerian said.

[2016-02-27 23:37] dburles commented on #107
Tried setting a static height on the `.map-container` ?

[2016-02-28 00:03] felipesmendes commented on #107
Yes, like in example with height 500px

Enviado via iPhone

[2016-02-28 00:12] dburles commented on #107
I think the root of the problem is whatever Javascript is involved with calculating the height of the modal interfering with the maps own calculation, something like:
1. Modal window loads with no initial height set (say 0px)
2. The Google map then initialises and the map view calculates its height based on its surrounding container (which is 0px)
3. Modal window then calculates the correct height

[2016-02-28 02:40] felipesmendes commented on #107
I triggered resize event on modal show and still loading maps just when dev
tools opens

_Att,_

_Felipe Silveira Mendes_Twitter https://twitter.com/felipesmendes -
Linked-In http://www.linkedin.com/pub/felipe-silveira/33/247/496
_Web Developer_
_(31) 8370-9090 (Claro)_
_contato@felipems.com.br contato@felipems.com.br_

2016-02-27 21:12 GMT-03:00 David Burles notifications@github.com:

[2016-02-29 14:32] felipesmendes commented on #107
There's something else I can try?

[2016-03-04 19:22] marcusjwhelan commented on #84
What If you are just loading the marker from a collection that has incoming data every 4 seconds. So the gps mightchange it might not but it will be way too many points on the map to post a marker every 4 seconds. Also this is for many collection items that need to cycle through. There is no marker.remove() or something?

[2016-03-05 18:24] thiagoterleski opened #109 "Markers clustering"
Hi, how can i use markers clustering in the map?

[2016-03-06 14:03] phongyewtong commented on #97
I am using @dburles  react examples, how do i place this in react and where do i place my markerwithlabel.js script? cant seem to get it work with react

[code]

[2016-03-07 00:19] dburles commented on #97
@phongyewtong place the two load calls in the component's `componentWillMount` method. Place the rest within the `getMeteorData` method (excluding the autorun function) if you're using the Meteor react package.

[2016-03-07 14:35] phongyewtong commented on #97
@dburles. Place the rest? I have put my makerwithlabel.js in public folder but still have unwanted error

[code]

[code]

[2016-03-07 14:46] Yonben opened #110 "Can't use map instance ?"
**EDIT**: Solved, it was pretty stupid, I needed to use **map.instance.setCenter**, however I'd like a confirmation that this is the "way to go" before closing if possible :) Thanks a lot and have great day everyone !

Hi,
I've been encountering an issue with the "map" in the callback function on .ready().

After implementing a reactive map as seen here, I can't use the "map" argument at all..

Th

[2016-03-07 23:36] dburles commented on #110
Hey @Yonben yep that's it, `map.instance` see here: https://github.com/dburles/meteor-google-maps#ready

[2016-03-07 23:40] dburles commented on #97
@phongyewtong code looks good to me, make sure that the `markerwithlabel.js` has loaded, check chrome devtools

[2016-03-08 14:58] phongyewtong commented on #97
Hi @dburles, this will be a noob question, just starting learning javascript.  i have my devtools open but how do I check markerwithlabel.js has loaded?

[2016-03-09 02:12] shadowzick opened #111 "GoogleMaps.ready not firing on android (cordova)"
Hi dburles, I was wondering why the GoogleMaps.ready function is not firing on android, I already tried adding the access rules but it's still not working, I only get a blank page. Please help. Thanks.

[2016-03-09 02:16] dburles commented on #111
Hey @shadowzick have you tried with the demo app? https://github.com/dburles/meteor-google-maps-demo

[2016-03-09 02:24] shadowzick commented on #111
@dburles will the demo app work with running meteor run android-device? sorry for this noob question

[2016-03-09 03:20] dburles commented on #111
@shadowzick Yeah just add-platform first!

[2016-03-09 03:23] shadowzick commented on #111
@dburles I've tried the demo app on mobile and it works fine, I think the problem was on my code but not so sure where. I'll let you know when I found out the problem. Thanks!

[2016-03-09 03:26] dburles commented on #111
Join here others may help out too https://gitter.im/dburles/meteor-google-maps

[2016-03-09 03:30] shadowzick commented on #111
Nice! Thanks :+1:

[2016-03-09 13:40] shadowzick commented on #111
It now works, I was wondering why there were no error logs turns out the problem was on my CSS because I was using vh. Anways, thanks! @dburles

[2016-03-09 13:40] #111 closed, assigned to nobody

[2016-03-09 22:33] MichalW commented on #109
http://jsfiddle.net/B3a86/2/

[2016-03-09 22:53] dburles commented on #109
Hey @thiagoterleski you may find further help over on gitter https://gitter.im/dburles/meteor-google-maps

[2016-03-09 23:15] thiagoterleski commented on #109
thanks @MichalW  and @dburles !

[2016-03-12 10:09] phongyewtong commented on #18
Any luck doing this on react?

[2016-03-12 10:50] phongyewtong commented on #97
I solved it. use `new MarkerWithLabel` instead of `new google.maps.MarkerWithLabel`

[2016-03-13 11:02] #110 closed, assigned to nobody

[2016-03-14 23:56] #78 closed, assigned to nobody

[2016-03-14 23:57] dburles commented on #107
@felipesmendes there may be someone who can help out over on gitter https://gitter.im/dburles/meteor-google-maps

[2016-03-21 18:23] bmcgonag opened #112 "Error about No API Key"
So I generated an API Key, but where do I put that for this package?

[2016-03-22 01:10] dburles commented on #112
https://github.com/dburles/meteor-google-maps#load

[2016-03-22 19:28] bmcgonag commented on #112
Don't know how I missed that, but you're a champ, thank you!

[2016-03-22 19:28] #112 closed, assigned to nobody

[2016-03-30 08:26] #109 closed, assigned to nobody

[2016-04-04 07:43] ignivaankushrishi opened #113 "How to add a search box?"
Is there any option for search box which can be called inside the template?

[2016-04-04 09:54] dburles commented on #113
There's a few packages that take care of it such as https://atmospherejs.com/jeremy/geocomplete

[2016-04-13 15:54] Noveltysa commented on #33
I have applied all the suggestion listed here, I still get the error(in the server console)android:http://localhost:12656/packages/dburles_google-maps.js:62) Uncaught TypeError: Cannot read property 'appendChild' of null

The error (in the browser console) was solved with BrowserPolicy.

Any ideas? or anywhere to check? Plus This error appears only when I run meteor run android-device .... tried m

[2016-04-14 12:50] Noveltysa commented on #33
I managed to figure what I was doing wrong:
I was loading googlemaps in client/startup.js ...before DOM is created, initializing googlemaps in the Template..onCreated worked in my case.

[2016-04-23 13:42] matejicekme commented on #107
Hi there,
Having the same problem, found a solution :).

Just trigger your map template with "Blaze.renderWithData" on modal button opener :

[code]

On your MyMap html template :

[code]

On MyMap JS :

[code]

And here the trick, your modal has to be on relative position, and your "#gmap-container" (where you render your map with Blaze.renderWithData) has to be on position: absolute; width:100%;

[2016-04-27 12:50] peterpetre commented on #95
@fpaboim  got pretty much the same error
`Uncaught TypeError: _dburlesGoogleMaps2.default.load is not a function`

[2016-04-27 13:39] dburles commented on #95
Hey guys I can't reproduce any errors on 1.3 are you able to reproduce the error on a fresh application so I can take a look?

[2016-04-27 15:46] peterpetre commented on #95
https://github.com/peterpetre/meteor-test-google-maps

[2016-04-27 22:51] dburles commented on #95
You don't (yet) need to import GoogleMaps as it's global. I'm yet to update the package to support modules. Hope to do that soon.

[2016-05-10 18:16] jupiterkenji opened #114 "inherit using prototype from google.maps.OverlayView"
I try to create context-menu by inheriting from google.maps.OverlayView() like so:

[code]

But it keeps saying google is not defined.
I have been googling and people suggesting:
if (GoogleMaps.loaded()) {..}
But sounds a bit weird.

Does anyone have any knowledge on this?

Thank you. Great package!

[2016-05-11 01:08] dburles commented on #114
Hey @stewiegaribaldi that's right you'll need to use that function to check whether the library has loaded before interacting with it. Typically you might attach it to the template that displays the map.

[code]

[2016-05-13 16:13] jupiterkenji commented on #114
Thank you @dburles , it works great!

[2016-05-13 16:13] #114 closed, assigned to nobody

[2016-05-13 23:26] lpender opened #115 ""Unable to display a Google Maps element" in iOs"
I get the following error in iOs when I input my Google Maps API Key:

"This page was unable to display a Google Maps Element. Please contnact the site administrator. If you are the administrator of this site, please check the JavaScript console or check the following page for troubleshooting: http://g.co/mapsJSApiErrors'

I fixed this issue in Chrome by adding my domain to the domain whitelist in

[2016-05-15 06:55] dburles commented on #115
Hey @lpender does this help? https://github.com/dburles/meteor-google-maps#mobile-platforms

[2016-05-17 21:51] lpender commented on #115
Hey,

I'm afraid not. The whitelist issue is in the other direction--I have to enter a domain whitelist into the _Google Developer interface_.

I have to whitelist whatever domain iOs is running the app from--I just can't figure out what that might be...

Thanks!

[2016-05-17 23:53] lpender commented on #115
Got it, I had to add `myapp.herokuapp.com` to the google whitelist. Apparently that's where the request was coming from.

[2016-05-17 23:53] #115 closed, assigned to nobody

[2016-05-18 01:29] ghost opened #116 "Using the package with Iron Router"
I'm attempting to get the basic create example working in my app.

HTML:

[code]

JS:

[code]

Everything works, except when I manually refresh the page (e.g. site.com/path).

Then the map doesn't load, and I'm getting "Exception from Tracker afterFlush function: ReferenceError: google is not defined"

Thinking that this is due to the JS running before template is ready. Does anyone know of any wa

[2016-05-18 04:25] deepupathak opened #117 "Marker not show while click on map"
Hello,
While click on map, markers is not shown on the map. Please help me for this issue.

thanks in advance.

[2016-05-18 04:53] dburles commented on #116
Hey @yournewbase you'll need to use `GoogleMaps.loaded()` to make sure that the library has loaded before calling `create`.

[code]

[2016-05-18 04:55] dburles commented on #117
Hey @deepupathak not a lot to go on there, is there a specific bug you've encountered with the package?

[2016-05-18 05:14] deepupathak commented on #117
sorry for disturb you,Its my fault. Its running perfectly now.

[2016-05-18 05:19] deepupathak commented on #117
I want to implement marker clusterer in the map. Please help me and suggest for the same.

[2016-05-18 06:04] dburles commented on #117
Probably best to discuss with the people on [gitter](https://gitter.im/dburles/meteor-google-maps?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge) as here is for reporting bugs and feature requests for the package

[2016-05-18 13:18] ghost commented on #116
@dburles Ah, that's it! It works now, thank you.

[2016-05-18 13:18] #116 closed, assigned to nobody

[2016-05-19 00:46] #117 closed, assigned to nobody

[2016-05-19 00:47] #113 closed, assigned to nobody

[2016-05-19 00:47] #107 closed, assigned to nobody

[2016-05-19 00:47] #106 closed, assigned to nobody

[2016-05-19 00:48] #105 closed, assigned to nobody

[2016-05-19 00:48] #98 closed, assigned to nobody

[2016-05-24 15:00] lpender commented on #115
In development, this url appears to be `localhost:12000` (at least for me)

[2016-05-24 20:00] lpender commented on #115
Add the result of this to your google API whitelist `dig myapp.com cname +short`

[2016-06-03 12:27] proft opened #118 "Map container is empty"
Hello!

I started clean project. Added packages

[code]

My template

[code]

My view

[code]

My styles

[code]

... and my canvas is empty, only red border ... also console output is empty ... strange

[2016-06-03 12:40] proft commented on #118
Rewrite with simple js - works ... with coffeescript ... doesn't :(

[2016-06-03 13:00] proft commented on #118
My fall :) should be `Template.markers.helpers`, without `->`

[2016-06-03 13:00] #118 closed, assigned to nobody

[2016-06-04 00:59] dburles commented on #118
You could also use ES2015 instead! :)

[2016-06-04 10:18] proft commented on #118
yup, already reading http://exploringjs.com/es6/ :)

[2016-06-08 22:21] grundmanise commented on #64
**For everyone with this issue:** http://stackoverflow.com/a/31074901/4541800
This is my solution (won't suit everyone):

[code]

[2016-06-10 11:09] grundmanise opened #119 "How to use RichMarker package w/ dburles: google map?"
Hi!
How can I add [RichMarker](https://github.com/googlemaps/js-rich-marker) support to your meteor package? :)

[2016-06-10 11:19] grundmanise commented on #119
Oops, I should have better learn API and use `loadUtilityLibrary` for this.
Btw, I would like to thank you for this google map meteor package!

[2016-06-14 17:35] wkniffin opened #120 "Google map won't load on cordova with imports"
I am using the file structure recommended in the meteor guide. I use flow-router to render the template which holds the map template and then import the routes.js file to the main.js file.

The map loads perfectly on a web browser but it does not load at all in a cordova app.

Thoughts?

Let me know what you need to see to debug.

[2016-06-14 21:25] #120 closed, assigned to nobody

[2016-06-15 11:14] eljefejames commented on #95
Are there any more complex examples of this working in react? I'm trying to use it with flowrouter but not having much luck.(Meteor 1.3)

[2016-06-15 13:37] aditzend opened #121 "google is not defined"
Hi !

I am using this package together with
jeremy:geocomplete   version 1.7.0

I am getting this error on a Meteor 1.3 app:

Exception from Tracker afterFlush function:
debug.js:41 ReferenceError: google is not defined
    at GeoComplete.initGeocoder (jquery.geocomplete.js:191)
    at GeoComplete.init (jquery.geocomplete.js:107)
    at new GeoComplete (jquery.geocomplete.js:99)
    at HTMLInputEl

[2016-06-16 00:06] dburles commented on #121
You need to make sure that any references to `google` are after `GoogleMaps.loaded()` is true

[2016-06-16 14:23] aditzend commented on #121
Thanks a lot for your reply and your great package! There was a problem with my key.

[2016-06-20 08:23] lcrpt commented on #95
Hey, I think you can not use this package directly with react, because you
need to use a Blaze template.

You can do it with both React Blaze components, check the Meteor guide.
Like for example you can do something like this

<template name="your-template">
   <your react component>
</template>

hope it helped you.

2016-06-15 13:14 GMT+02:00 eljefejames notifications@github.com:

[2016-06-20 08:25] dburles commented on #95
You don't have to use the blaze template. With React you can use the `create` method  https://github.com/dburles/meteor-google-maps#create

[2016-06-29 18:37] snamoah opened #122 "Is there a way to resize map?"
Hi @dburles,

I'm trying to implement google maps in a modal. The issue I'm having now is I'm unable to refresh the map after the modal has loaded. I did some googling and doing that in normal javascript is by calling `google.maps.event.trigger(map, "resize");` Is there a way I can do that through your package?

[2016-06-29 18:49] snamoah commented on #122
Fixed it... the problem was from my map instance. Got it to work by using..

[code]

[2016-06-29 18:49] #122 closed, assigned to nobody

[2016-07-04 04:26] NicholasEli opened #123 "Google Places "Uncaught TypeError: this.j.getElementsByTagName is not a function""
Hello @dburles I am using this with mdg:geolocation and everything seems to be working great. However when I try to use the Google Places library I get the following error "**Uncaught TypeError: this.j.getElementsByTagName is not a function**".

I can get Places to work outside of Meteor but it seems to stop working inside the "**GoogleMaps.ready**" instance. It stops specifically at "**new google

[2016-07-04 06:34] dburles commented on #123
Hey @NicholasEli do you have a reproduction I can check out?

[2016-07-04 18:41] NicholasEli commented on #123
Hello @dburles , here is what I have written.

[code]

[2016-07-05 07:24] dburles commented on #123
Sorry I mean like a simple Meteor app I can run

[2016-07-05 07:27] dburles commented on #123
If you're able to reproduce the bug in as simplistic manner as possible e.g. in an isolated Meteor app, that would make it much easier for me to check out

[2016-07-05 17:55] NicholasEli commented on #123
Hello @dburles here is a repo **https://github.com/NicholasEli/meteor-google-places** with a simple form of the app.  You'll just need to create a new Meteor project and add the two dependencies geolocation and gmaps.

[2016-07-06 04:37] dburles commented on #123
Hey @NicholasEli sorry but there's too much code there that's not directly related to causing this specific error, try and reproduce the bug with as little code as possible.

[2016-07-06 16:14] NicholasEli commented on #123
Ok @dburles I reduced it down as far as it can go to the Places() function.  Please try the same repo and let me know if that works.

[2016-07-07 01:43] dburles commented on #123
Thanks @NicholasEli your problem is that you're passing in the `map` object to `new google.maps.places.PlacesService(map);` when you should pass in `map.instance`. That solves your issue. See here https://github.com/dburles/meteor-google-maps#ready

[2016-07-07 02:51] NicholasEli commented on #123
Thank you sir!, I owe you a coffee.

[2016-07-07 03:38] dburles commented on #123
No prob!

[2016-07-07 03:38] #123 closed, assigned to nobody

[2016-07-13 19:38] NanIsNotANum opened #124 "All blank with no error message"
Hi @dburles ,

I installed your package, and follow your tutorial, but the map just doesnt show up @@
since theres no error message at, I would like to know if you can take a look and give me some suggestion?

Heres my code:

in template html file
**<div class="map-container">
    {{> googleMap name="exampleMap" options=exampleMapOptions}}
  </div>**

in .css file

**body, html {
    height: 100%;

[2016-07-14 04:04] dburles commented on #124
Did you wrap the map template in `<div class="map-container"></div>`?

[2016-07-16 21:45] NanIsNotANum commented on #124
Hello, I forgot to attach the part, but Yes I do wrap the template in<div class="map-container"></div> !

[2016-07-17 03:57] dburles commented on #124
I'd suggest to try run this https://github.com/dburles/meteor-google-maps-demo and compare it with your own app for any differences that may be causing the problem

[2016-07-22 09:45] NanIsNotANum commented on #124
Hi there, I tried to compare with the demo code and my code, I didnt see how I could improve my code. However, these days after I edited my code from other parts, the map works! but unfortunately I still have no idea which other parts were blocking the map. I will report you once I am sure. I will close the issue for now. Thanks a lot for the help!

[2016-07-22 09:45] #124 closed, assigned to nobody

[2016-07-23 06:55] leizard commented on #44
Hi @rahultank1993 , I met the exact problem and don't know where to put `GoogleMaps. loadUtilityLibrary(path/to/infobox.js)` . Could you help me please ?

[2016-07-23 07:16] dburles commented on #44
@leizard most likely alongside where you call `GoogleMaps.load()`

[2016-07-25 03:10] leizard commented on #44
Hi @dburles, I put infobox.js in my public folder and call `GoogleMaps.loadUtilityLibrary('infobox.js')` after the `GoogleMaps.load()` and it works. But if I put infobox.js in my client folder and call `GoogleMaps.loadUtilityLibrary('client/infobox.js')`, it yields `Uncaught ReferenceError: google is not defined` . Do I have to put the file in public folder to make it work ?

[2016-07-25 03:35] dburles commented on #44
Yep, public folder otherwise it won't work

[2016-07-25 04:37] leizard commented on #44
@dburles thanh you.

[2016-08-10 10:34] alexandrzavalii opened #125 "Cannot read property 'x' of undefined"
This line throws an error

[code]

Is there a workaround ?

[2016-08-10 10:35] dburles commented on #125
Hey @alexandrzavalii I need more info!

[2016-08-10 10:37] alexandrzavalii commented on #125
Yeah, I am sorry @dburles . I set the options in the meteor helper as in the documentation and it throws an error, even though the map is loaded.

[code]

[2016-08-10 10:39] dburles commented on #125
Not sure what's going wrong there, try [the example app](https://github.com/dburles/meteor-google-maps-demo) and see if that runs okay for you. That might help you find the cause of the problem.

[2016-08-14 17:06] schabluk opened #126 "no plugin found for google-maps.html"
[code]

Error thrown from: https://github.com/meteor/meteor/blob/master/tools/isobuild/compiler-plugin.js

Meteor version 1.4 with SSR.

[2016-08-16 00:58] dburles commented on #126
I'm happy to accept a PR for this one if you figure out the cause

[2016-08-23 21:08] ankitv89 opened #127 "PlacesService not working"
Hi,

This is my code. ON running, I am not getting the places in return. Can anyone point out what I am doing wrong?

[code]

[2016-08-23 21:42] #127 closed, assigned to nobody

[2016-08-23 21:42] ankitv89 commented on #127
Solved by replacing `map` with `map.instance`

[2016-08-25 08:00] alexandrzavalii commented on #125
I did exactly as in the example app.
This error is still there. Specifically this line of code is causing it.
`center: new google.maps.LatLng(-37.8136, 144.9631),`
I tried doing it with
`location: new google.maps.LatLng(-37.8136, 144.9631)` or `location: ["-37,"144"]`
and I still get the same error.

[2016-08-25 10:44] dburles commented on #125
Did the example work okay or did you get the same error?

[2016-08-25 10:47] alexandrzavalii commented on #125
It did not.I am getting the same error.

[2016-09-14 09:59] aldo235 opened #128 "how to get direction from my location?"

[2016-10-06 11:13] adamgins opened #129 "Map is black on Cordova and Meteor 1.4.2-beta9 on iOS10"
HI,

trying to get maps working on iOS10 (via Xcode 8).

Pre iOS10 / Meteor 1.3 my code works fine. It seems like a browser policy issue, although I have the policy specified for this package.

I can view the map on mobile on iOS, it's just in Cordova that it does not show up. I can't see anything on the console (via XCode). Any ideas pls?

OK, my load command is not working on Cordova:

[code]

I

[2016-10-07 02:36] adamgins commented on #129
if I view the markup on the

Via browser:

![screen shot 2016-10-07 at 1 34 35 pm](https://cloud.githubusercontent.com/assets/7233741/19177247/010be1e6-8c93-11e6-8ee9-b7c166a2f206.png)

Cordova

![screen shot 2016-10-07 at 1 33 30 pm](https://cloud.githubusercontent.com/assets/7233741/19177250/02d964b2-8c93-11e6-885f-0059c086fbff.png)

[2016-10-11 11:06] guidouil commented on #129
do you have the `App.accessRule('*');` or at list open to google.com and gstatic.com in your `mobile-config.js` file ?

[2016-10-11 12:49] adamgins commented on #129
Yes. Actually got a note back from @dburles that onRendered probably better place to run the load command. So will close this now as that worked.

[2016-10-11 12:49] #129 closed, assigned to nobody

[2016-10-13 18:43] patrik-enqvist opened #130 "Enable use of Google maps libraries"
I'd like to be able to use google maps additional libs (https://developers.google.com/maps/documentation/javascript/libraries) such as:
- geometry
- places

Suggestions for solution:
- Use an extended option for giving the libraries to load and then append them to the url used to load google maps

[2016-10-13 19:46] patrik-enqvist commented on #130
...aaaaand I found the options already in place... closing this.

[2016-10-13 19:46] #130 closed, assigned to nobody

[2016-10-21 15:49] idesignpixels opened #131 "Maps not loading in mobile (ios)"
In dev browser they load fine but in ios sim/device they do not, I have set my mobile-config.js in the root of my project to have:

[code]

I have also tried re-installing the plugin with no luck.
I don't get any errors but GoogleMaps.loaded() never evaluates to true.

[2016-10-21 21:42] dburles commented on #131
I think this is an issue with loading the library within Meteor.startup. Is that how you're loading the library? If so, try place GoogleMaps.load within a template onRendered instead.

[2016-10-22 10:46] idesignpixels commented on #131
Thanks for responding so quickly, I am instantiating it this way so I will try this when I get back on Monday and let you know.

[2016-10-24 09:42] idesignpixels commented on #131
That's solved it thanks!

[2016-10-24 09:44] dburles commented on #131
Great! I might leave this open incase others run into the same problem. Seems a bit strange, I'd definitely like to find the underlying cause.

[2016-10-26 21:15] klegeron opened #132 "map not showing up"
Hi,

I try this example https://github.com/dburles/meteor-google-maps-react-example/blob/master/googlemaps-react.jsx with https://github.com/studiointeract/tracker-component

it's partially working, but no map and marker (however I see that map div changes in html from empty div). May you pls help?

[code]

[2016-10-27 00:33] fvpDev commented on #121
So I checked/created a new API key but when I have the following I get `false` in console:

[code]

[2016-10-27 00:38] dburles commented on #121
@fvpDev  1. you don't need to import GoogleMaps.  2. GoogleMaps.loaded() is a reactive function (you need to reference it within an autorun)

[2016-10-27 00:49] dburles commented on #132
Don't use jquery `$('.map-container')[0],`  use [refs](https://facebook.github.io/react/docs/refs-and-the-dom.html)

[2016-10-27 07:37] klegeron commented on #132
Thank you for you help. I see this map :-)

[2016-10-27 07:37] #132 closed, assigned to nobody

[2016-11-08 06:10] NicholasEli commented on #125
For 'x', does it happen to be your latitude coordinate? I am getting the same issue right now while in production.

http://wsyacht.herokuapp.com/

**UPDATE**

I solved the issue by turning my coordinates to an integer, as I was returning the coordinates from a collection stored as a string.

[2016-11-08 14:15] code4cake commented on #125
@NicholasEli how are you saving your `lat` and `lon` values in your collection if you don't mind me asking.

[2016-11-08 16:59] NicholasEli commented on #125
Hmmm, I was wrong. The issue seems to persist, but was working temporarily. But I am storing them in a pretty simple traditional sense:

[code]

*\* UPDATE **
It seems this has an issue while working with FlowRouter. On initial page load the error is there (production only), but if I navigate to another page/route and then navigate back the error is gone and everything works fine.

[2016-11-09 00:16] dburles commented on #125
@NicholasEli sounds like your data might not yet be loaded at the time you're trying to reference it

[2016-11-09 07:15] code4cake commented on #125
@NicholasEli how are you attaching them to your object. or how are you computing them? Or are you just writing the numbers. Thanks

[2016-11-09 18:24] NicholasEli commented on #125
@dburles thats kinda what I am thinking.

@dantesolis they are static numbers, so I am just writing them in.

[2016-11-09 22:21] dburles commented on #125
Post a link to a repo containing as little code as possible that reproduces the problem

[2016-11-13 18:44] NicholasEli commented on #125
Confirmed, the data was not being loaded at time or reference.

[2016-11-19 10:37] ankitappuria commented on #125
Hello,
I am facing same issue.I am getting Cannot read property 'x' of undefined error when navigating to other page and returning back to map page.If I am loading map page it is working fine. Please help me out.

[2016-11-19 10:38] dburles commented on #125
@ankitappuria can you post some code to provide some context?

[2016-11-19 10:41] ankitappuria commented on #125
I am getting error in helper of option due to center.

[code]

[2016-11-19 10:45] dburles commented on #125
@ankitappuria if you could, can you provide a link to a repo with a complete app I can run? (if you can please only include code that is relevant to the issue)

[2016-11-19 11:38] ankitappuria commented on #125
Thanks issue was in variable declaration I have solved it.

[2016-11-20 11:57] gaillota opened #133 "googleMap template not loading"
Hey guys,

I'm using this package with Meteor 1.3.4.4 and I can't manage to display the map.
[code]
In my `onRendered` function:
[code]
And the helper
[code]

I'm guessing it's because I don't import the `googleMap` template but how can I do that ?

[2016-11-20 22:14] dburles commented on #133
That code looks fine, without seeing the rest of the project I can't really guess too much. If you like, it would be helpful if you could put the project on github so that we can take a look. See here http://stackoverflow.com/help/mcve

[2016-11-21 13:52] gaillota commented on #133
The project is on Github but I switched to Leaflet maps because I could not find a solution.
However, I'm still interesting in using Google Maps and figuring out why this does not work.
I will create a branch as soon as I can and let you take a look, if you have the time of course.

Thank you for your help.

[2016-11-22 03:10] krishaamer commented on #58
Also having a similar issue when switching back and forward between routes using flow router. The GoogleMaps.ready() seems to run only once and next time it no longer loads the map. Any advice?

[2016-11-22 08:14] dburles commented on #58
@krishaamer try this working example it may help you track down the issue in your own app https://github.com/dburles/map-bug-58

[2016-11-22 11:29] Barulin opened #134 "Running project locally return an error Google Maps API warning: NoApiKeys"
Hi! I have a question about debugging my project on the local storage.
Since some moment, Google Maps API needs API Key to work correctly and to render the map. So now, if I just place a handlebar with map instance and call load function on Rendered event, I don't see any map on the page and got this error in console:

`Google Maps API warning: NoApiKeys https://developers.google.com/maps/document

[2016-11-22 15:45] Barulin commented on #134
Sorry! Found a reason why this was happened to me. It was the same problem as in this issue: #58
Now it all works great!
Thanks for the package!

[2016-11-22 15:45] #134 closed, assigned to nobody

[2016-11-29 21:04] ValtteriL opened #135 "How to add multiple maps on same page"
How can I add multiple maps on same page? Seems like the package cannot load the second map after the first one has been loaded.

[2016-11-30 23:14] dburles commented on #135
Should be no problem at all, just make sure that you provide each a unique `name` value

[2016-12-01 21:05] ValtteriL commented on #135
Funnily enough I got the two maps to load, but landed onto another problem. The maps only load after inspector is opened.

I have my map-containers hidden in panels by default and call GoogleMaps.load() when a panel is toggled visible. The first map displays right away when the panel is toggled whereas the second one always stays blank until I open inspector.

What could cause this?
Should the Goo

[2016-12-01 23:50] dburles commented on #135
It seems like it might be an issue with how you're hiding/showing the maps. How are you handling that?

[2016-12-02 08:11] ankitappuria commented on #131
When I am creating a mobile build using run command it is working fine.But When I am creating a android non debuggable build map is not loading. I have this in mobile.config
App.accessRule('*.google.com/*');
App.accessRule('*.googleapis.com/*');
App.accessRule('*.gstatic.com/*');
I don't get any errors but GoogleMaps.loaded() never evaluates to true.
I had loaded the map in template only.

[2016-12-03 18:57] ValtteriL commented on #135
I am using basic Bootstrap collapsibles for hiding/showing the maps.
`<div class="collapse" id="mapOneCollapsible">`
`<div class="map-container">`
`{{> googleMap name="mapOne" options="mapOneOptions"}}`
`</div></div>`

Which are triggered by buttons:
`<button data-toggle="collapse" data-target="#mapOneCollapsible">Toggle mapOne</button>`

The GoogleMaps.load() is called whenever either of the butt

[2016-12-03 22:29] dburles commented on #135
Your issue is most likely that the map is failing to correctly calculate the height of its container which causes the height to be calculated to 0. I left more detail on how to solve it over here https://github.com/dburles/meteor-google-maps/issues/58

[2016-12-04 11:05] ValtteriL commented on #135
I have explicitly defined the map-container height, and width is auto:
`.map-container {`
`width: auto;`
`height: 500px;`
`}`

I also tried defining the width explicitly but without luck. :/

[2016-12-04 13:19] dburles commented on #135
Strange, post a simple reproduction app and I'll take a look

[2016-12-06 08:29] ValtteriL commented on #135
Here's reproduction. Please try adding class 'in' in the panels its toggling, it makes them visible by default and makes the maps load correctly.

https://github.com/ValtteriL/googlemap_issue

[2016-12-08 08:42] naho2081 opened #136 "Template with googleMap inside is rendered twice"
Template which contains googleMap container is always rendered twice. How to stop this behavior?

googleMap is inserted as follows:

HTML
[code]

JS (CoffeeScript)
[code]

[2016-12-09 00:26] dburles commented on #136
Hey @naho2081 need a bit more info! what do you mean by rendered twice? the callback fires twice?

[2016-12-09 10:04] naho2081 commented on #136
Hi @dburles .
Yes, you can check it out [here](https://fastfred.de/shop/shop-de).
And [here](https://fastfred.de/shop/shop2-de) is how same page but without GoogleMap is rendered.

[2016-12-10 10:18] dburles commented on #136
@naho2081 what is the problem you're seeing as a result of the template rendering twice?

[2016-12-10 10:19] naho2081 commented on #136
@dburles screen is flashing twice while page is loaded and user may notice that

[2016-12-10 10:25] dburles commented on #136
Are you able to reproduce the same problem in an isolated application? i.e [the simple example app](https://github.com/dburles/meteor-google-maps-demo)

[2016-12-10 10:26] dburles commented on #136
I do see the flash on the link you provided

[2016-12-10 10:57] naho2081 commented on #136
I just fixed the issue.
The reason was that googleMap inserted link to google stylesheet into the `<head>` causing page reload.

In my case link was
```link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")```

I have manually added this link into the head of the template and issue was fixed.

Probably this could be somehow considered in furthe

[2016-12-10 10:58] dburles commented on #136
Strange, it's not something I've noticed elsewhere, if you're able to reproduce it in an isolated application that might narrow down the issue, I feel like the fact that your page content flashes something else might be going on there!

[2016-12-10 11:17] naho2081 commented on #136
@dburles see my comment above.

[2016-12-10 11:17] #136 closed, assigned to nobody

[2016-12-10 11:18] dburles commented on #136
Oh yeah but I mean like the fact that it's affecting the existing fonts on your page in particular. I haven't seen that happen on other sites that use this maps package. But glad you found a solution!

[2016-12-10 11:28] naho2081 commented on #136
Yes, those Google fonts slightly differ from used on the page. That's why maybe googleMap downloads fonts it wants to use :)

[2016-12-18 12:39] Mykhailiak opened #137 "calculate distance"
How can I calculate the distance between two points using module plugin?

[2016-12-21 11:12] JMAsoftworks opened #138 "MissingKeyMapError with Meteor and React"
How can I solve this problem? After showing the map, no more than 1 second it will show an error, Oops! Something went wrong. Then in the console,
Google Maps API error: MissingKeyMapError appeared.

[2016-12-26 05:50] mahiagit commented on #38
This work all fine but the autorun makes the map to behave blinking in the firefox environment . working great in other browser. The helper is called again and again and makes the google map helper to initialize the map after regular interval of time even there is no change in the session on which autorun listens.

[2016-12-28 16:00] Broham opened #139 "Possible to display a heatmap?"
I've been following googles documentation to create a heatmap, but with this line:

`new google.maps.visualization.HeatmapLayer(...)`

it throws:

`Cannot read property 'HeatmapLayer' of undefined`

Is it possible to create a heatmap using this?

[2016-12-28 17:59] Broham commented on #139
For those wondering you can pass in options through the `load` function and they will be appended to the url that is used to load the api.  Since in this case you simply need to include, `libraries=heatmap` when referencing the api, you can do this to include the heatmap library:

`GoogleMaps.load({ libraries: 'visualization' })`

[2016-12-28 17:59] #139 closed, assigned to nobody

[2017-01-05 10:38] steven-tib opened #140 "cordova app - unable to select / click in the suggestion list"
Hi, I'm testing my app on iOS (meteor run ios-device), the map displays correctly but when typing a location, the autosuggestion list appears but when I click on one of the suggestion it closes the list without selecting my choice.

When typing something and hitting enter, the location is correctly selected though.
Just the problem with auto-suggested list click/selection.

same behavior in the iO

[2017-01-09 13:49] mahiagit commented on #64
Is there any solution to this Problem.
Everything works fins but when we pan fast or click many times then the map becomes idle and give unpleasent experience. actually it throws error as Geolocation failed: Position retrieval timed out.
Any input.

[2017-01-11 23:06] rlora commented on #138
I have an app where the component works as expected. But another one in which the map crashes after 1s showing that error. I haven't found the root cause yet, I'm inclined to believe that it is something about Google. Given that package does not use an api key, probably if the domain is registered in Google console it acts differently. Will post more if I solve the issue.

[2017-01-11 23:13] rlora commented on #138
Ok. I think is because of this: https://maps-apis.googleblog.com/2016/06/building-for-scale-updates-to-google.html

Starting 2016/06 all apps using Google Maps need an API Key. Look at the code, when you are loading the library you can pass an options hash. If it contains the key it should be included in the URL. As in: https://developers.google.com/maps/documentation/javascript/tutorial#Loading_t

[2017-01-12 02:10] dburles commented on #138
You can add an API key just check the docs under `load`

[2017-01-12 02:20] rlora commented on #138
@dburles Yes! Thank you, works as expected by adding the api key in the options object.

[2017-01-14 17:51] avani19 commented on #13
Hey, I am trying to get the location autocomplete for form i am using in my Meteor app. How can i get the location autocomplete for the form using Meteor?

[2017-01-16 07:31] wiredots01 commented on #95
do you have samples using react updating/adding new markers after render?

[2017-01-16 10:02] dburles commented on #95
@wiredots01 not specifically, however [start with this example](https://github.com/dburles/meteor-google-maps-react-example) and you would place the logic here: https://github.com/dburles/meteor-google-maps-react-example/blob/master/imports/MyMap.js#L13-L16

To make it reactive, place a `Tracker.autorun` or use a cursor `observe` method inside of the `GoogleMaps.ready`. See here https://github.com

[2017-01-16 13:04] wiredots01 commented on #95
ive tried fetching the data from external API when the button was clicked... but it didnt work when updating

[2017-01-17 23:31] dburles commented on #95
@wiredots01 going to need a little bit more info than that my friend!

[2017-01-18 10:06] steven-tib commented on #140
@dburles any clue on this issue? if you need more details please let me know, thanks for your help

[2017-01-19 01:43] dburles commented on #140
Not sure on that one @steven-tib sorry. You might have more luck asking here https://gitter.im/dburles/meteor-google-maps or perhaps on stackoverflow.

[2017-01-19 15:34] nunof07 commented on #126
This was happening to me in some projects.

The ones that were failing were using `templating@1.0.11`. I manually changed in the Meteor versions file to `templating@1.2.15` and now it works.

[2017-01-29 16:01] maxfi commented on #133
Did you set the css for `<div class="map-container">` like so:

[code]
-- https://github.com/dburles/meteor-google-maps/blob/master/README.md#usage-overview

Without the height and width set the element will completely collapse and you won't see the map.

[2017-02-07 22:42] healthycola opened #141 "Re-render map on coordinate change"
Hello!

Is it possible to re render the map if the coordinate (lat/long) change in the backend. If the location().lat/location().long change, I would ideally like the map to update. Is this possible?

Thanks!

[code]

[2017-02-07 22:51] dburles commented on #141
Yes, rather than updating in the helper, you'll want to do that within the `ready` callback. Something like:

[code]

[2017-03-06 11:15] varunajmera0 opened #142 "Near by search"
I am getting this error on place library when i want to search nearby.
![image](https://cloud.githubusercontent.com/assets/22893376/23607774/380f161c-028c-11e7-9595-37f1c4b22fef.png)

[2017-03-10 18:04] 0xbs0d opened #143 "No Api Key after building"
I added the key as the documentation says and everything works fine when I just run the app. But when I build the app and run it with node main.js it says again NoApiKeys and if I search the generated code I don't see GoogleMaps.load called anywhere.
Does anyone have any idea what it might be?

[2017-03-10 18:46] rubenlpz commented on #143
Where do you have the GoogleMaps.load?  Try displaying something to console or showing an alert just to make sure the API has been loaded:

[code]

[2017-03-10 19:22] 0xbs0d commented on #143
I call it from Meteor.startup GoogleMaps.load
Like I said it works great from meteor with the key in there. But when I build the application with meteor build I don't see any reference to this anymore. The map loads with an error because NoApiKey

[2017-03-10 19:31] rubenlpz commented on #143
Since last year, google require you to create a specific KEY for your app in order to use this API.  You can do it here:
https://developers.google.com/maps/documentation/javascript/get-api-key#key

After obtaining your key, you must set it in your load function:
`GoogleMaps.load({key: "myKeyHere"});`

[2017-03-10 19:40] 0xbs0d commented on #143
Yes, that's what I did
Meteor.startup(function() {
  GoogleMaps.load({key: 'my_key'});
});
And like I said it works just fine. No errors or anything.

Until i build my app with meteor build. The resulted app has no reference of GoogleMaps.load OR my key. And if i run it i get the NoApiKey error and no map showing.

[2017-03-10 20:08] rubenlpz commented on #143
Ok, I see.   Is your site a secure site? I think it should be.  Check also if you are giving access to googleappis in your mobile-config.js

`App.accessRule("maps.googleapis.com");`    And build again.  I'm not sure how do you know the GoogleMaps.load is not in your buid (in the case of an android APK)

[2017-03-11 13:30] 0xbs0d commented on #143
It started working on it's own after I rebuilt the app. Tnx for the assistance @rubenlpz :+1:

[2017-03-11 13:30] #143 closed, assigned to nobody

[2017-03-22 11:55] cameronmcphail opened #144 "componentDidUpdate not being called in route change in react-router"
Hi,

I'm having issues when navigating through pages using react-router.

I've followed the [React example](https://github.com/dburles/meteor-google-maps-react-example/blob/master/imports/lib/GoogleMap.js) (very helpful) however I have had issues building it into react-router.

The first time that the page loads, here is what happens in GoogleMap.js:

1. render
2. componentDidMount
3. render
4. co

[2017-04-07 11:12] dburles commented on #144
@cameronmcphail yes at a glance it looks like some changes will need to be made to the GoogleMap component. Happy to accept a pull request, as I'm not sure how soon I'll have time to look at it.

[2017-04-07 11:14] dburles commented on #142
@varunajmera0 Most likely it's an issue relating to the Google API itself rather than this package specifically. You may have better luck asking on stackoverflow. If you do believe it's caused by a bug in this package I'll reopen.

[2017-04-07 11:14] #142 closed, assigned to nobody

[2017-04-17 09:28] melkati opened #146 "Help needed with React usage, collection, read-router and react-komposer"
Hi.

I'm sorry if it's a very long message with many questions (and probably some of them very basic) but I'm just starting with Meteor and React.

I have some issues while using the package with react. I'll try to document and include enough code and information so, hopefully, when issues are fixed, it serves as an example also for others trying to use it with react as I see these questions are v

[2017-04-20 09:33] xshadowlegendx opened #147 "ReactJS - Google Map not loaded, only loaded the grey background"
`// Map.jsx
import React from 'react';
import TrackerReact from 'meteor/ultimatejs:tracker-react';

import { GoogleApi } from './GoogleApi.jsx';

class Map extends TrackerReact( React.Component ) {

    constructor ( props ) {

        super ( props );

    }

    loadMap () {

        return GoogleMaps.loaded();

    }

    loadMapOption () {

        return GoogleMaps.loaded() && this._mapOption

[2017-04-21 11:58] melkati commented on #147
May it be because the container isn't defined?

AFAIK the container where the map is going to be rendered should be defined.

This is mine:

[code]

[2017-04-22 06:40] xshadowlegendx commented on #147
Ok i will look into it again and will get back to you after that

[2017-04-22 06:42] xshadowlegendx commented on #147
Bro, i already try to add fixed size to width and height and it still not working

[2017-04-22 07:09] dburles commented on #147
Hey @xshadowlegendx take a look at the updated example app https://github.com/dburles/meteor-google-maps-react-example

[2017-04-22 07:22] dburles commented on #146
I've just updated the GoogleMap component to fix a bug whereby the map would fail to re-render once unmounted/remounted https://github.com/dburles/meteor-google-maps-react-example. Also I've added some reactivity, click the map to add markers and they're inserted into a collection.

[2017-04-22 07:28] dburles commented on #144
@cameronmcphail fixed, https://github.com/dburles/meteor-google-maps-react-example

[2017-04-22 07:37] #141 closed, assigned to nobody

[2017-04-22 07:37] #138 closed, assigned to nobody

[2017-04-22 07:37] #137 closed, assigned to nobody

[2017-04-22 07:37] #128 closed, assigned to nobody

[2017-04-22 07:37] #147 closed, assigned to nobody

[2017-04-22 07:37] #146 closed, assigned to nobody

[2017-04-22 07:38] dburles commented on #146
Also pass the `key` into `GoogleMaps.load`

[2017-04-22 07:38] #144 closed, assigned to nobody

[2017-04-22 07:38] #140 closed, assigned to nobody

[2017-04-22 07:39] #135 closed, assigned to nobody

[2017-04-22 07:39] #133 closed, assigned to nobody

[2017-04-22 07:40] #126 closed, assigned to nobody

[2017-04-22 07:40] #125 closed, assigned to nobody

[2017-04-22 07:40] #121 closed, assigned to nobody

[2017-04-22 07:40] #119 closed, assigned to nobody

[2017-04-27 19:33] luixal opened #148 "Clusterer icons are missing due to old URL"
Hi,

I've noticed (yep, some time since last time I used this package!) that clusterer icons are not loading ok due to urls pointing to old repository (on Google Code I think). I was thinking about making a PR for updating the library but, for now, it can be fixed quite easy setting the `imagePath` option to `'https://github.com/googlemaps/v3-utility-library/raw/master/markerclusterer/images/m'`,

[2017-06-06 07:03] ghost opened #149 "Every time GoogleMaps.load() run <head> get additional copy of <style> for google maps"
Grretings. In my project I happen to use Google search box in forms. Form itself called when I click on table row, and I noticed that `<head>` tag get updated every click. Putting break on subtree modification showed code related to google maps which load additional `<styles>` tag in `<head>`. Maybe need to add check if styles loaded to not load it many times? Thanks.

[2017-06-06 23:44] dburles commented on #149
Hey @Cherviakov do you have a simple reproduction I can look at? I don't think it would be caused by `GoogleMaps.load` as it should only run once

[2017-06-07 05:14] ghost commented on #149
Tried to write simple test, cannot reproduce the way I explained before. Will look further into my project code.

[2017-06-16 22:51] vany0114 opened #150 "work around showing map on modals"
Hi everyone,

Just in case, if you'll use a map over a modal it doesn't show correctly by default, indeed displays a "Grey" area's when it is placed inside a dynamic element. So do you need the next work around:

`var currentCenter = GoogleMaps.maps.yourMap.instance.getCenter();
google.maps.event.trigger(GoogleMaps.maps.yourMap.instance, "resize");
GoogleMaps.maps.loadCenterMap.instance.setCenter(

[2017-06-17 11:07] #149 closed, assigned to nobody

[2017-06-18 10:26] dburles commented on #150
Also see #58 and #107

[2017-08-09 16:38] Fotso opened #151 "Google Map maxZoom seems to not work"
Hello,
I have problem with the mapOptions of my map.
I would like to restrain the map zoom to 15 because I am doing a [Geospatial Queries](https://docs.mongodb.com/manual/geospatial-queries/#spherical).
My code looks like this

[code]
Unfortunately the maxZoom seems to not work...
Are they any other possibility to restrain the zoom ?

[2017-08-09 23:21] Fotso commented on #151
Alright I posted a solution on [stackoverflow](https://stackoverflow.com/questions/45596537/meteor-google-map-maxzoom-minzoom-and-zoom-level)

The solution was pretty simple, maxZoom and minZoom have to be declared in order to work !

[2017-08-09 23:21] #151 closed, assigned to nobody

[2017-09-12 03:16] thearabbit opened #152 "Could example with `Vue JS`?"
Could example with `Vue JS`?

[2017-09-12 04:36] dburles commented on #152
Hey @thearabbit I haven't personally used Vue but I would be open to linking to an example if someone were to create one

[2017-09-12 10:23] thearabbit commented on #152
👍

[2017-09-20 19:26] madc0w opened #153 "on mobile (Android & iOS) : google undefined"
In mobile-config.js, we have:

[code]

And yet, this:

[code]

yields the following stack:

(anonymous function) — client.js:54   [ the line above that references google.maps.Geocoder ]
_compute — tracker.js:339
_recompute — tracker.js:358
_runFlush — tracker.js:532
onGlobalMessage — meteor.js:426

We also see, probably when attempting to instantiate a map:

No message (1)
create — dburles_google-

[2017-09-25 01:10] dburles commented on #153
If the geocoding library is loaded externally make sure that you use [loadUtilityLibrary](https://github.com/dburles/meteor-google-maps#loadutilitylibrary) so that the `GoogleMaps.loaded` covers loading state for it too.  Edit: Looks like it's not a utility library

[2017-09-25 01:11] dburles commented on #153
Also try this https://github.com/dburles/meteor-google-maps/issues/131

[2017-09-25 21:37] mherb63 opened #154 "Map Reloads whenever collection observer fires"
I have been noticing whenever a Collection.find().observe() fires (add, update, remove), the entire map is redrawn and all of the markers are revisited (add fires for each).

Why would an update cause any add to fire?

Very nice plugin by the way.

[2017-09-25 21:48] mherb63 commented on #154
never mind, it was in my code of course :)

[2017-09-25 21:48] #154 closed, assigned to nobody

[2017-10-11 17:51] mherb63 opened #155 "Weird error when GoogleMaps.load() called"
[code]

[2017-10-11 18:11] mherb63 commented on #155
I don't think its the plugin doing this, I'm going to close

[2017-10-11 18:11] #155 closed, assigned to nobody

[2017-10-14 20:35] Roshdy commented on #58
Workaround:
`google.maps.event.trigger(GoogleMaps.maps.map.instance, 'resize');`

[2017-12-01 03:21] ghost commented on #149
It appeared to be error with google maps itself, but they refuse to take look into it saying we use 3d party packages. Not looked further in it myself, so let it be for now like this.

[2018-02-02 22:59] adimittal commented on #64
I've figured out the solution to this problem.  Go to the info.plist file for your app in Xcode and add two entries:

NSLocationWhenInUseUsageDescription
NSLocationAlwaysUsageDescription

The values can be any strings you want to display to the user for why he should allow geolocation for your app.  Rebuild and deploy.

[2018-02-24 17:04] agustinsiles commented on #64
@adimittal you saved the day

[2018-04-11 04:58] #150 closed, assigned to nobody

[2018-08-06 06:23] XBLDev opened #156 "How to check if a library is loaded?"
I need the places library to do the autocomplete, and I load google map like this:
  GoogleMaps.load({ key: 'mykey', libraries: 'places'});

And I need a way to check if the library is loaded, because sometimes it gives errors such as "google.maps.places" undefined.

What's the best way to do this with meteor template? I find that if you put the checking in a helper function it gets stuck forever,

[2018-08-07 01:03] dburles commented on #156
Hey, you should be able to just use the `GoogleMaps.loaded()` method within your helper.

[2018-08-09 00:34] XBLDev commented on #156
@dburles Hi thx for your reply, but I'm experiencing this weird situation where even if GoogleMaps.loaded() returns true, the autocomplete simply doesn't work, when I check google.maps.places is always returns null.

However if I just somehow refresh the page, say in onRendered function, check if google.maps.places exists and if not do location.reload, and when the page is reloaded the places libr

[2018-08-09 00:46] dburles commented on #156
Strange, are you able to create a simple isolated reproduction?

[2018-08-09 02:00] XBLDev commented on #156
@dburles hi i'm afraid i don't have a simple isolated reproduction atm, I'll keep looking for solutions , and will my answer here if I find any. I guess this one can be closed for now, thank you!

[2018-10-12 00:02] #156 closed, assigned to nobody

[2018-12-18 17:13] Floriferous opened #157 "Blaze-less version"
This is the only library we use that is still pulling in `blaze`, could there be a solution to use this package without the `templating` package, especially since many of us are using React?

* I could fork the package and republish it without the blaze portion
* Can we do better and keep using the same package?
  * Could there be a blaze-less branch that is published to another package name? That

[2018-12-18 21:59] dburles commented on #157
We could make the package have a weak dependency on `templating` and then only provide the `googleMap` template if you're using Blaze

[2019-04-18 11:50] #157 closed, assigned to nobody

[2020-06-24 05:59] surbhibh commented on #88
### Getting below error in all the environment. Please help me with this. I tried all the suggested ways.

Refused to create a worker from 'blob:http://localhost:4000/35ba9398-2c4f-429d-b755-6afbc0b94dda' because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-inline' https://*.google-analytics.com https://*.gstatic.com 'unsafe-eval'". Note that 'worker-src'

[2022-10-02 17:03] KaitaniLabs opened #159 "GoogleMaps.initialize is not a function"
@dburles

Meteor 2.7.3

Using the following code:

    Meteor.startup(function() {
	  GoogleMaps.load({ v: '3', key: Meteor.settings.public.GoogleMaps.API, libraries: 'geometry' });
    });

Receiving the following error:

message: "GoogleMaps.initialize is not a function"
name: "InvalidValueError"

Any idea why this might be happening?

[2022-10-03 18:07] KaitaniLabs commented on #159
Turns out I was using it inside another package and didn't utilise api.imply so it wasn't global.

[2022-10-03 18:07] #159 closed, assigned to nobody